
/* The styles given to the associated form element in order to hide it */
.fd-form-element-hidden
        {
        display:none;
        }
/* Horizontal Outer wrapper - all other DOM elements added as children to this top level wrapper */
.fd-slider
        {
        width:100%;
        /* The height of the slider handle */
        height:20px;
        margin:0;
        }
/* Vertical Outer wrapper - all other DOM elements added as children to this top level wrapper */
.fd-slider-vertical
        {
        /* The width of the slider handle */
        width:20px;
        /* Fill the available space */
        height:100%;
        /* Set a 10 pixel right and bottom margin */
        margin:0 10px 10px 0;

        /* You may wish to float the vertical sliders left or display:inline-block */
        /* float:left; */
        }
/* Shared rules - both horizontal & vertical sliders */
.fd-slider,
.fd-slider-vertical
        {
        /* display:block required as the wrapper element is a span */
        display:block;
        /* This lets us absolutely position the drag handle */
        position:relative;
        text-decoration:none;
        border:0 none;
        -moz-user-select:none;
        -khtml-user-select:none;
		  margin-top: 0em;
        -webkit-touch-callout:none;
        user-select:none;

        }
.fd-slider-inner
        {
        /* Used by IE for the onfocus blur effect */
        display:none;
        }

/* The inner track bar */
.fd-slider-bar{
        position:absolute;
        display:block;
        z-index:1;
        height:10px;
        width:100%;
        margin:0;
        padding:0;
        overflow:hidden;
        line-height:4px;
        top:9px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #e0e4e7;
		box-shadow:2px 2px 2px #c0c0c0 inset;	
        }
/* The animated range bar */
.fd-slider-range {
	  position: absolute;
	  display: block;
	  z-index: 1;
	  height: 10px;
	  margin: 0;
	  padding: 0 2px 0 0;
	  overflow: hidden;
	  top: 9px;
	  border-radius:5px 0px 0px 5px;
	  -moz-background-clip: padding;
	  -webkit-background-clip: padding-box;
	  background-clip: padding-box;
	  background-color: #55acee;
}
/* The drag handle */
.fd-slider-handle {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0 0 0 -1px;
  z-index: 1;
  top: 5px;
  left: 0;
  width: 20px;
  height: 25px;
  line-height: 1px !important;
  outline: 0 none;
  background-image: url("../images/common/ico_total.png");
  background-position: -135px -70px;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -moz-user-focus: none;
  -moz-outline: 0 none;
  user-select: none;
  cursor: pointer;
}
/* Focus styles */
.fd-slider-handle:focus
        {
        outline:0 none;
        border:0 none;
        -moz-user-focus:normal;
        }
button.fd-slider-handle:focus::-moz-focus-inner
        {
        border-color: transparent;
        }

.fd-slider-drag-vertical,
.fd-slider-drag-vertical *
        {
        /* Stop text selection */
        -moz-user-select:none;
        -webkit-user-select:none;
        user-select:none;
        }
.fd-slider-drag-horizontal,
.fd-slider-drag-horizontal *
        {
        /* Stop text selection */
        -moz-user-select:none;
        -webkit-user-select:none;
        user-select:none;
        }
		
@media screen and (max-width: 1024px) {
	.fd-slider, .fd-slider-vertical {
		margin-top: 1em;
	}
}