@font-face {
    font-family: 'notokr-regular';
    src: url('/resources/fonts/notokr-regular.eot');
    src: url('/resources/fonts/notokr-regular.eot?#iefix') format('embedded-opentype');
    src: local("☺"), local('notokr-regular'), local('notokr-regular'), local('notokr-regular'),
    url('/resources/fonts/notokr-regular.woff2') format('woff2'),
    url('/resources/fonts/notokr-regular.woff') format('woff'),
    url('/resources/fonts/notokr-regular.ttf') format('truetype'),
    url('/resources/fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notokr-medium';
    src: url('/resources/fonts/notokr-medium.eot');
    src: url('/resources/fonts/notokr-medium.eot?#iefix') format('embedded-opentype');
    src: local("☺"), local('notokr-medium'), local('notokr-medium'), local('notokr-medium'),
    url('/resources/fonts/notokr-medium.woff2') format('woff2'),
    url('/resources/fonts/notokr-medium.woff') format('woff'),
    url('/resources/fonts/notokr-medium.ttf') format('truetype'),
    url('/resources/fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/resources/fonts/Roboto-Light.eot');
    src: url('/resources/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype');
    src: local("☺"), local('Roboto-Light'), local('Roboto-Light'), local('Roboto-Light'),
    url('/resources/fonts/Roboto-Light.woff') format('woff'),
    url('/resources/fonts/Roboto-Light.ttf') format('truetype'),
    url('/resources/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notokr-bold';
    src: url('/resources/fonts/notokr-bold.eot');
    src: url('/resources/fonts/notokr-bold.eot?#iefix') format('embedded-opentype');
    src: local("☺"), local('notokr-bold'), local('notokr-bold'), local('notokr-bold'),
    url('/resources/fonts/notokr-bold.woff2') format('woff2'),
    url('/resources/fonts/notokr-bold.woff') format('woff'),
    url('/resources/fonts/notokr-bold.ttf') format('truetype'),
    url('/resources/fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notokr-light';
    src: url('/resources/fonts/notokr-light.eot');
    src: url('/resources/fonts/notokr-light.eot?#iefix') format('embedded-opentype');
    src: local("☺"), local('notokr-light'), local('notokr-light'), local('notokr-light'),
    url('/resources/fonts/notokr-light.woff2') format('woff2'),
    url('/resources/fonts/notokr-light.woff') format('woff'),
    url('/resources/fonts/notokr-light.ttf') format('truetype'),
    url('/resources/fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: normal;
    font-style: normal;
}








.notokr-regular { font-family:notokr-regular !important; }
.notokr-black { font-family:notokr-black !important; }
.notokr-bold { font-family:notokr-bold !important; }
.notokr-demilight { font-family:notokr-demilight !important; }
.notokr-light { font-family:notokr-light !important; }
.notokr-medium { font-family:notokr-medium !important; }
.notokr-thin { font-family:notokr-thin !important; }