

/*--checkbox--*/


.check-top {
  
}
/*-----*/
.check-top1{
	overflow:hidden;
	padding:5px 0 0 0;
}
.check-top1:nth-child(4){
	margin-right: 0;
}
.check-bottom{
	width:50%;
	float:left;
}
/*-----*/
.check-top p{
	display:inline;
}
.check-top span{
	display:block;
	cursor: pointer;
	width:100%;
	padding:5px 0 0 20px;
}


.check-top span input[type="checkbox"] {
  display: none
}
.check-top span input[type="checkbox"]+label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
  margin:0;
  font-size:14px;
}
.check-top span input[type="checkbox"]+label i:first-child {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: none;
  position: absolute;
  left: 0;
  bottom: 3px;
  background-color: #fff;
  border:1px solid #666666;
   border-radius: 2px; 
  -webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
}
.check-top span input[type="checkbox"]:checked+label i:first-child:before {
  content: "";
	background-image: url("../images/common/ico_total.png");
	background-position: -135px -120px;
	background-repeat: no-repeat;
   width: 15px;
  height: 15px;
  display: inline-block;
  border: none;
  position: absolute;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  border:1px solid #4d9bd6;
   border-radius: 2px; 
  -webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
}

.check-top span input[type="checkbox"]:checked+label{
	color:#4d9bd6;
}
.check-top span.last-check input[type="checkbox"]+label i:first-child {
   opacity: 0.7;
  
}
.check-top span.last-check input[type="checkbox"]:checked+label i:first-child:before {
  opacity: 0.7;
}
/*--//checkbox--*/






/*--radio-button--*/

/*-----*/
.radio_normal{
	float: right;	
}
.radio_normal .radio-top1{
	float: left;
	margin-right:0;
}
.radio_normal .radio-top1:nth-child(4){	
	margin-right: 0%;
}
.radio_normal .radio-bottom{
	float: left;	
}
/*-----*/
.radio_normal .radio-bottom span{
	display:block; line-height: 1.5; margin: 0;cursor: pointer;
}
.radio_normal .radio-bottom span input[type="radio"]{
  display: none;
}
.radio_normal .radio-bottom span input[type="radio"]+label{
  position: relative;
  padding: 0 0 0 27px;
  cursor: pointer;
  margin:0;
}
.radio_normal .radio-bottom span input[type="radio"]+label i:first-child{
    width: 18px;
  	height: 18px;
  	display: inline-block;
  	border: none;
  	position: absolute;
  	left: 0;
    top: 1px;
  	bottom: 3px;
 	background-color: #eaedee;
    border-radius: 100px;
    -webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
}
.radio_normal .radio-bottom span input[type="radio"]:checked+label i:first-child:before{
  	content: "";
  	position: absolute;
  	left: 4px;
  	top: 4px;
  	width:8px;
  	height:8px;
  	 border-radius: 100px;
  	 -webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
}
.radio_normal .radio-bottom span.last-radio{
	opacity: 0.7;
}

.radio_normal .radio-bottom5 span input[type="radio"]+label i:first-child{
 	background: none;
    box-shadow: none;
    border: 1px solid #6d6d6d;
}

.radio_normal .radio-bottom5 span input[type="radio"]:checked+label {
 	color:#55acee;
}


.radio_normal .radio-bottom5 span input[type="radio"]:checked+label i:first-child{
 	background: none;
    box-shadow: none;
    border: 1px solid #55acee;
}

.radio_normal .radio-bottom5 span.mid-radio input[type="radio"]+label i:first-child{
    border: 1px solid #55acee;	
	color:#55acee;
}
.radio_normal .radio-bottom5 span input[type="radio"]:checked+label i:first-child:before{
  	background: #55acee;  
	border: 1px solid #55acee;
}
/*--//radio-button--*/


.pagination_out{
	text-align:center;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  }


  .pagination > li { float: left; display: list-item; width: 20px; height: 20px; text-align: center; overflow: hidden; vertical-align: middle; margin: 0; }
  .pagination .active {
    color: #55acee;
    &:hover, &::focus { color: #55acee; }
  }
  .pagination > li > a, .pagination > li > span {
      width: inherit; height: inherit;
      color: #999fa5; font-size: 14px; line-height: 1.3; text-decoration: none;
      background-color: #fff; padding: 0; border: 1px solid #fff; margin: 0;
  }

  .pagination li a.prev, .pagination li a.next {
    text-indent: -999em; background: white url(../images/common/btn_paging.gif) no-repeat; overflow: hidden;
  }
  .pagination li a.prev { background-position-x:3px; background-position-y:2px; }
  .pagination li a.next { background-position-x:-9px; background-position-y:2px; }

    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 2;
    color: #55acee;
    background-color: #fff;
    border-color: #fff;
	}
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #55acee;
    background-color: #fff;
    border-color: #fff;
    cursor: default; 
	font-weight:bold;}


  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #fff;
    cursor: not-allowed; }



/*--alarm start here--*/
.alarm {
position: relative;
float:left;
width:320px;
height:70px;
padding:20px 0 0 60px;
}

.alarm .title{
  font-size: 12px;
  color: #999fa5;
  position: absolute;
  top: 32px;
  left: 0;
}
.alarm .days {
  font-size: 12px;
  color: #999fa5;
  position: absolute;
  top: 0px;
  left: 107px;
}
.alarm .hours{
  font-size: 12px;
  color: #999fa5;
  position: absolute;
  top: 0px;
  left: 168px;
}
.alarm .minutes{
  font-size: 12px;
  color: #999fa5;
  position: absolute;
   top: 0px;
  left: 230px;
}

.alarm .seconds{
  font-size: 12px;
  color: #999fa5;
  position: absolute;
  top: 0px;
  left: 292px;
}
.dottes {
  position: relative;
}
span.dot1 {
  position: absolute;
  top: 12%;
  left: 37%;
  font-size: 2.5em;
  color: #999;
}
span.dot2 {
  position: absolute;
  top: 12%;
  left: 59%;
  font-size: 2.5em;
  color: #999;
}

.amount{
position: relative;
float:left;
width:117px;
height:70px;
padding:20px 0 0 65px;
margin:0 0 0 30px;
}
.amount .total{
	background-image: url("../images/common/bg_alarm2.png");
	background-position: center center;
	background-repeat: no-repeat; 	
	font-size:25px;	
	letter-spacing:12px;
	font-weight:bold;	
	color:#fff;
	line-height:38px;
	width:52px;
	height:40px;
	padding:0 0 0 5px;
}
.amount .title{
	font-size: 12px;
	color: #999fa5;
	position: absolute;
	top: 32px;
	left: 0;
}
.amount .person{
	font-size: 12px;
	color: #999fa5;
	position: absolute;
	top: 0px;
	left: 107px;
}
/*--alarm end here--*/
