@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
	.main{
	    background: url('../images/common/bg_main_m.jpg') no-repeat center top;
	    background-size: cover;
	    overflow: hidden;
	}
	.scr-location, .bottom_contents { display: none; }
}
