@import "compass";

/*card sprite */
$icons-card: sprite-map("bi/card/*.png");

i.ci {
   background-image: $icons-card;
   display: inline-block;
   width: 150px;
   height: 30px;
   vertical-align: middle;
}


@each $i in sprite-names($icons-card){
   .bi-#{$i}{
        background-position: sprite-position($icons-card, $i, 0, 0, true);
        background-size: cover;
        @include sprite-dimensions($icons-card, $i);
   }
}


/*saving sprite*/
$bankBI: sprite-map("bi/bank/*.png");

i.bi {
   background-image: $bankBI;
   display: inline-block;

   vertical-align: middle;
}


@each $i in sprite-names($bankBI){
  .bi-#{$i}{
    width: 150px;
    height: 30px;
        background-position: sprite-position($bankBI, $i, 0, 0, true);
        background-size: cover;
        @include sprite-dimensions($bankBI, $i);
   }
}


/*insure sprite*/
$icons-insure: sprite-map("bi/insure/*.png");

i.ii {
   background-image: $icons-insure;
   display: inline-block;
   vertical-align: middle;
}


@each $i in sprite-names($icons-insure){
  .bi-#{$i}{
    width: 150px;
    height: 30px;
        background-position: sprite-position($icons-insure, $i, 0, 0, true);
        background-size: cover;
        @include sprite-dimensions($icons-insure, $i);
   }
}

/*p2p sprite*/
$icons-p2p: sprite-map("bi/p2p/*.png");

i.pi {
   background-image: $icons-p2p;
   display: inline-block;
   vertical-align: middle;
}


@each $i in sprite-names($icons-p2p){
  .bi-#{$i}{
    width: 150px;
    height: 30px;
        background-position: sprite-position($icons-p2p, $i, 0, 0, true);
        background-size: cover;
        @include sprite-dimensions($icons-p2p, $i);
   }
}