@import "../common/mopic-glyphicon";
@import "compass/css3/transition";



@mixin alpha-attribute($attribute, $color, $background) {
	$percent: alpha($color) * 100%;
	$opaque: opacify($color, 1);
	$solid-color: mix($opaque, $background, $percent);
	#{$attribute}: $solid-color;
	#{$attribute}: $color;
}



$point-color:#55acee;


.main{
	overflow:hidden;	 
    background-image: url('../images/common/bg_main.png');
    background-position: center top;
    background-repeat: no-repeat;
}
.main.sb-open .header {
	background:white;
	@include transition(background 0.25s ease-in);
}
.main.sb-open .head_inner .logo { background:url("../images/common/logo.png") no-repeat center center; } 
.main .header { position:fixed; z-index:40; height:110px; background:none; }
.main.sb-open .navbar-nav a { color: #636363; }
.main.sb-open .top-menu-right {
	.first{	
		background-image: url('../images/common/bg_top_right01.png');
	}
	.second{	
		background-image: url('../images/common/bg_top_right02.png');
	}
	.third{	
		background-image: url('../images/common/bg_top_right03.png');
	}
}

.head_inner { max-width: 1600px; }


.steps-wrapper{
	position:relative;
	margin:0 auto;
	width:860px;
	height:60px;
	border-radius:5px;
	padding:5px 0;	
	background-color:#fff;
	background-image: url('../images/common/bg_search.png');
    background-position: right top;
    background-repeat:repeat-y;

	a.search_btn{
		position:absolute;
		top:0;
		right:0;
		display:inline-block;
		width:62px;
		height:60px;
		background-image: url('../images/common/btn_bg_search.png');
		background-position: center center;
		background-repeat:no-repeat;
		text-indent:-100000px;
	}
}

.active {
    font-weight: bold;
}


.main-intro { 
	/*padding-top:18%;*/
	position: absolute; top: 0; z-index:20; width: 100%; height: 900px;

	h4{
		text-align:center;
		color:#fff;
		font-size:32px;
		margin:0 0 40px 0;
	}
	span { font-family:'notokr-regular'; }
	#search { margin-top:30%; }
}




$selectbox-width: 266px;

.step {
    display: inline-block;
    vertical-align: middle;
	
    position: relative;
    width: $selectbox-width; height:50px;
    
    background: #fff;
    padding: 0;

    border-right: 1px solid #e0e4e7;
    
    cursor: pointer;
    margin:0;


	i.icn {
		margin-right:20px;
	}

	.text-input {
		display: block;
		padding: 15px;
	}

	.dropdown-options-sm-form .text-input {
		padding: 0;
	}

	.main-select-dropdown {
		padding: 15px 15px 15px 25px;

		&.multi-select {
			.display { display: inline-block; max-width: 230px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 14px; line-height: 22px; margin-left: -7px; }
		}
	}
	
}


.step .text-input {
    input {
		width: 70%; height: 100%; text-align: right; border: 0;
		&:focus {
			outline: none;
		}
    }

	.unit {
		position: inherit;
		top: inherit;
		right: inherit;
		line-height: inherit;
	}
	
}


.main-select-dropdown {
    cursor: pointer;    
    font-size:15px;
	
	padding-left: 25px;

    &:before {
		content: "";
		width: 20px;
		height: 20px;
		/*border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #ddd;*/
		
		background-image: url('../images/common/blt_down.png');
		background-position: center center;
		background-repeat: no-repeat;
		
		position: absolute;	
		left: $selectbox-width - 30px;
		top: 15px;

    }
	


	.dropdown-options {
		/* Size & position */
		top: 120%;
		margin-top: 0;
		
		/* Styles */
		background: #d2cecc;
		border-radius: 5px;
		@include transition( all 0.2s ease-in, visibility 1ms);
		list-style: none;

		
		li {
			padding: 10px 25px;
			font-size:15px;

			&.selected {
				background-color: $point-color;
			}
			
			&.deactivated {
				color: #000;
				&:hover {
					background-color: #eee;
				}
			}
			
			&:first-of-type {width: 100%; border-radius: 7px 7px 0 0; margin: 0; }
			&:last-of-type { width: 100%; border-radius: 0 0 7px 7px; border: none; margin: 0; }

			&:hover {
				background: $point-color;
				color:#fff;
			}
		}

		&:before {
			content: "";
			width: 20px;
			height: 20px;
			position: absolute;
			top: -45px;
			right: 10px;
			background-image: url('../images/common/blt_up.png');
			background-position: center center;
			background-repeat: no-repeat; 
		}
	}


	
	
}





ul li.icon-select {
    display: inline-block;
}


.dropdown-options-sm {
    position: absolute;
    top: 120%;
    padding:0;
    left: 0; 
    right: 0; 
    z-index: 1000;
    visibility: hidden;
	
    //background: rgba(210,206,204,.8);	
	@include alpha-attribute('background-color', rgba(210,206,204,.8), #636363);

    border-radius: 5px;
    @include transition( all 0.2s ease-in, visibility 1ms);
    list-style: none;

	

    &.open {
		visibility: visible;
    }

    ul{
		margin: 0;
		padding: 0;
    }
    
    li {
		display: block;
		padding: 10px 30px;
		text-decoration: none;
		color: #333;	
		font-size:15px;
		@include transition( all 0.3s ease-out, visibility 1ms);

		&.selected {
			background-color: $point-color;
			color:#fff;
			&:hover {
				background-color: $point-color;
			}
		}
		
		&.deactivated {
			color: #000;
			&:hover {
				background-color: #eee;
			}
		}
		
		&:first-of-type {
			border-radius: 5px;
			margin:5px 0 20px 20px;
			float:left;
		}
		
		&:last-of-type {
			border-radius: 5px;
			border: none;
			margin:5px 20px 20px 0;
			float:right;
		}

		&:hover {
			background: $point-color;
			color:#fff;
		}

		
    }


    &:after {
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: -45px;
		right: 10px;
		background-image: url('../images/common/blt_up.png');
		background-position: center center;
		background-repeat: repeat-y; 
    }
    &:before {
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: -45px;
		right: 10px;
		background-image: url('../images/common/blt_up.png');
		background-position: center center;
		background-repeat: no-repeat; 
    }
}

.dropdown-options-sm-form{
	width:100%;
	height:95px;
	padding:10px 30px;
	background-image: url('../images/common/bg_form.png');
	background-position: center top;
	background-repeat: no-repeat; 

	label {
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1.1;
		display: block;
	}
	
	&:hover{
		background-color:$point-color;
		border-radius:5px 5px 0 0;
	}
	.select-dropdown { float: none; width: 226px; position: absolute; left:20px; margin-top: -7px; }
}



.dropdown-options-ck {
    /* Size & position */
    position: absolute;
    top: 120%;
    left: 0; /* Size */
    right: 0; /* Size */
    z-index: 1000;
    visibility: hidden;
	max-height: 250px;
	overflow-y: auto;

    /* Styles */
    background: #d2cecc;
    border-radius: 5px;
    @include transition( all 0.2s ease-in, visibility 1ms);
    list-style: none;
	

    &.open {
		visibility: visible;
    }

    ul{
		margin: 0;
		padding: 0;
    }
    
    li {
		display: block;
		padding: 10px 0 10px 50px;
		text-decoration: none;
		color: #333;	
		font-size:15px;

		background-image: url('../images/common/bg_check.png');
		background-position: left center;
		background-repeat: no-repeat; 

		@include transition( all 0.3s ease-out, visibility 1ms);

		&.selected {
			color:#fff;	  
			background-color: $point-color;	     
			background-image: url('../images/common/bg_check_on2.png');
			background-position: left center;
			background-repeat: no-repeat; 

			&:hover {
				background-color: $point-color;
				background-image: url('../images/common/bg_check_on2.png');
				background-position: left center;
				background-repeat: no-repeat; 
			}
		}
		
		&.deactivated {
			color: #000;
			&:hover {
				background-color: #eee;
			}
		}
		
		&:first-of-type {
			border-radius: 7px 7px 0 0;
		}
		
		&:last-of-type {
			border-radius: 0 0 7px 7px;
			border: none;
		}


		&:hover {
			background-color: $point-color;
			background-image: url('../images/common/bg_check_on.png');
			background-position: left center;
			background-repeat: no-repeat; 
			color:#fff;
		}

		
    }


    &:after {
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: -45px;
		right: 10px;
		background-image: url('../images/common/blt_up.png');
		background-position: center center;
		background-repeat: repeat-y; 
    }
    &:before {
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: -45px;
		right: 10px;
		background-image: url('../images/common/blt_up.png');
		background-position: center center;
		background-repeat: no-repeat; 
    }
}

.main-select-dropdown {
	.glyph {
		font-size: 16px;
		vertical-align: middle;
		margin-right: 13px;
	}
}


.bottom_contents { 
	display:none; position: absolute; top: 800px; left:0; z-index: 30; width:100%; height:900px; background:none; 
}
.sb-open .bottom_contents { background:#e6ecf0; padding-top:140px; }


.bottom_contents .sub-nav { width:474px; height:48px; padding:0; margin:0 auto; }
.bottom_contents .sub-nav li { float:left; width:158px; height:48px; text-align:center; border-top:1px solid #fff; border-bottom:1px solid #fff; overflow:hidden; } 
.bottom_contents .sub-nav a {
	display:block; width:inherit; height:inherit; background-color:rgba(255,255,255,0.3); color:#fff; line-height:3.6;
	&:hover{ background-color:rgba(85,172,238,0.5); }
}
.bottom_contents .sub-nav .left{ border-left:1px solid #fff; border-radius:5px 0 0 5px; }
.bottom_contents .sub-nav .center{ border-left:1px solid #fff; border-right:1px solid #fff; }
.bottom_contents .sub-nav .right{ border-right:1px solid #fff; border-radius:0 5px 5px 0; margin-left: -1px; }

.sb-open .bottom_contents .login_comm { display:block; }
.bottom_contents .login_comm { display:none; height: 30px; color:#444b52; font-family:'notokr-regular'; line-height: 32px; overflow: hidden; margin:20px 0 24px auto;   }
.bottom_contents .login_comm strong { font-family:'notokr-medium'; }
.bottom_contents .login_comm .btn { width:80px; height:30px; color:white; line-height:2.2; text-align:center; padding:0; vertical-align: top; margin-left:16px; }
.sb-open .bottom_contents .sub-nav li { border-top:1px solid #e0e4e7; border-bottom:1px solid #e0e4e7; border-left:1px solid #e0e4e7; }
.sb-open .bottom_contents .sub-nav a {
	background-color:white; color:#444b52;
	&:hover{ background-color:#f7fafc; }
}
.sb-open .bottom_contents .sub-nav .right { border-right:1px solid #e0e4e7; }
.sb-open .bottom_contents .sub-nav li.active { 
	background-color:#55acee; color:white; 
	a { color:white; background-color:#55acee; }
}



/*main modal - add info input */
/*
.main #first-time-container {
	.modal-header{
		min-height: 19px; padding: 0 0 8px 0; margin: 30px 30px 5px 30px; border-bottom:1px solid #e6ecf0;
		.modal-title { font-family: 'notokr-medium'; font-weight: normal; line-height: 21px; }
	}
	.modal-body{ width: 600px; }
	.product_add { 
		padding: 0 30px 30px 30px; margin: 0; 
		.txt { font-family: 'notokr-regular'; margin:3px 0 18px 0; }
		.check-top1 { margin-left: 5px; }
		.row { margin-bottom: 10px; }
		.col-xs-5 { width: 270px; height: 40px; padding: 0; margin:0; }
		.col-xs-5.col-xs-offset-1 { 
			margin: 0; 
			.select-label { width: 106px; text-indent:15px; }
			.text-input-normal { width: 162px; text-align: right; padding: 5px 30px 5px 10px; margin: 0; }
		}
		.select-label { width: 91px; line-height: 1; margin: 10px 0 0 0; }
		.select-label, .select-label + div { float: left; }
		.select-dropdown { width: 162px; }
		.col-xs-10 { width: 448px; padding: 0; margin-top:6px;}
		.check-bottom { 
			float: left; width: 64px; margin-left: 0; 
			&:first-child { width:120px; margin-left:0; }
			& > span { padding: 0; }
			label { 
				font-size: 14px; color:#4d9bd6; padding-left: 9px; 
				span { width: 100%; padding: 2px 0 0 15px; }
			}
		}
		.center_btn { 
			text-align: center; margin-top: 52px;
			.btn-submit { margin-bottom: 0; }
		}
	}
}
*/
/*
.scr-location { position:fixed; bottom:50%; right:0; z-index:100; width:5px; height:50%; background-color:#c3ced5; background-color:rgba(101, 182, 193, .5);
				@include transition(all .6s ease-in-out);
			  }
.sb-open .scr-location { bottom:0; }
*/

/*2016.02.15 add - today recommend*/
.sb-open .subContent_list{ display:block; }
.subContent_list{	
	display:none; position:relative;
	height:auto;
	.top_sort { width:956px; margin:auto; }
	.tab-content { margin-top:4px; }
	.badge { margin-left:4px; }
	.box_out{
		display:none; width:984px; overflow:hidden; margin:auto;
		&.active { display:block; }
		.product_box{
			position:relative; float:left;
			width:310px; height:310px; background-color:#fff;
			box-shadow: 1px 1px 1px 0px #d3dadf; margin:4px;
			
			.box_top{
				width:100%; height:60px; background-color:#f5f7f9; padding:15px 0 15px 20px;
				.ico{
					float:left;
					width:30px;
					height:30px;
					background-image: url("../images/common/ico_main.png");
					background-repeat: no-repeat;
				}
				.saving{
					background-position:0px 0px; 
				}
				.deposit{
					background-position:-30px 0px; 
				}
				.installment{
					background-position:-60px 0px; 
				}
				.MMDA{
					background-position:-90px 0px; 
				}
				.subscription{
					background-position:-120px 0px; 
				}

				.ico-loan{
					background-position:0px -30px; 
				}
				.credit-loan{
					background-position:-30px -30px; 
				}
				.secured-loan{
					background-position:-60px -30px; 
				}
				.fitted-loan{
					background-position:-90px -30px; 
				}

				.ico-insurance{
					background-position:0px -60px; 
				}
				.variable-insurance{
					background-position:-30px -60px; 
				}
				.death-insurance{
					background-position:-60px -60px; 
				}
				.pension-insurance{
					background-position:-90px -60px; 
				}
				.car-insurance{
					background-position:-120px -60px; 
				}
				.new-insurance{
					background-position:-150px -60px; 
				}
				.own-insurance{
					background-position:-180px -60px; 
				}

				.ico-card{
					background-position:0px -90px; 
				}
				.credit-card{
					background-position:-30px -90px; 
				}
				.check-card{
					background-position:-60px -90px; 
				}

				.ico-P2P{
					background-position:0px -120px; 
				}
				.P2P-investment{
					background-position:-30px -120px; 
				}
				.P2P-loan{
					background-position:-30px -120px; 
				}

				.ico-currency{
					background-position:0px -150px; 
				}

				.r-title{
					float:left; font-family: 'notokr-regular'; font-weight:normal; font-size:16px; margin:7px 0 0 11px;
				}
			}

			.box_down{
				position:relative; width:100%; min-width:270px; height:252px; padding:20px;
				.d-title{
					color:#333; font-weight:normal; font-family:'notokr-medium'; font-size:20px; line-height:23px; margin:9px 0 0 0;
				}
				.detail{
					color:#999fa5; font-family:'notokr-regular'; font-size:12px; font-weight:normal; margin-top:4px;
				}
				.fee{
					position:absolute; bottom:2px
					; left:17px; width:275px;
					font-family: 'notokr-regular'; font-weight:normal;
					.lt{ color:#999fa5; font-size:14px; line-height:1; }
					.d-num{ color:#222; font-family: 'Roboto-Light'; font-size:50px; margin:0 5px; }
					.d-num-small{ font-size:30px; margin:0 5px; }
					.b-comm-ft{ 
						position:relative; color:#999fa5; text-align:right; 
						.d-foreign { 
							position:absolute; top:-20px; right:0;
							.d-comm { color:#999fa5; font-family:'notokr-regular'; font-weight:normal; font-size:14px;   }
							.d-num { color:#222; font-family:'notokr-regular'; font-weight:normal; font-size:14px;   }
						}
					}
				}
			}

		}
		.last{
			margin:0 0 10px 0;
		}
	}

}

.sy_tooltip{
	position:absolute;
	top:17px;
	left:-65px;
	z-index:2;

	span{
		display:block;
		margin:0 auto;
		width:14px;
		height:7px;
		background-image: url("../images/common/tooltip_arrow.png");
	}
	.in{
		background-color:#444b52;
		border-radius:5px;
		padding:15px;
		color:#fff;		
		font-size:12px;

		ul{
			padding:0 0 0 20px;
			margin:0;
		}

		li{
			list-style-type:disc;
			padding:0;
			margin:0;
		}
	}
}

/*what is mopic*/
.service-slogan { 
	position:relative; width: 1600px; height: 550px; color: white; font-weight: normal; line-height: 1; background:white url("../images/common/bg_service_info.jpg") no-repeat; margin: auto; margin-top: 110px;
	.slogan {
		color: inherit; text-align: center; /*padding-top: 128px;*/ padding-top: 177px;
		h2 { font-family: 'notokr-regular'; font-size: 48px; letter-spacing: -0.04em; margin:0 0 83px 0; }
		strong { font-family: 'notokr-medium'; font-weight: normal; }
		p { font-family: 'notokr-regular'; font-size: 22px; letter-spacing: -0.04em; margin: 0 0 12px 0; }
		p.emp { font-family: 'notokr-medium'; font-size: 30px; margin: 0; }
	}
	.link-btn { 
		display: none; position: absolute; left:0; bottom: 0; width: 100%; height: 140px; background-color: rgba(68, 75 ,82, .8); padding: 40px 0;
		.btn-group { 
			display: block; width: 680px; height: 60px; margin: auto; 
			a { 
				display: inline-block; width: 320px; height: 60px; color: white; font-family: 'notokr-regular'; font-size: 18px; line-height: 3.3em; text-align: center; background-color: #55acee; border:1px solid #4d9bd6; 
				&:first-child { margin-right:20px; }
			}
		}
	}
}
.service-list {
	width:1600px; font-weight: normal; margin: 80px auto 0 auto;
	h2 { color: #444b52; text-align: center; font-family: 'notokr-medium'; font-size: 30px; letter-spacing: -0.06em; line-height: 1; margin-bottom: 15px; }	
	.sub-copy { text-align: center; color: #999fa5; font-family: 'notokr-regular'; font-size: 22px; letter-spacing: -0.035em; line-height: 1; margin: 0; margin-bottom: 67px; }
	ul { width: 950px; padding: 0; margin: auto; }
	li { 
		float: left; width: 475px; height: 75px; margin-top: 44px;
		&.nomt { margin-top: 0; }
		.icon { float: left; width: 66px; height: 75px; font-size: 34px; margin-left: 54px; }
		.txt { float: left; width: 355px; height: inherit; font-size: 14px; overflow: hidden;
			h3 { color: #333; font-family: 'notokr-medium'; font-size: inherit; margin-bottom: 7px; }
			.subject { display: block; color: #444; margin-bottom: 3px; }
			p { color: #999fa5; font-family: 'notokr-regular'; font-size: inherit; line-height: 18px; text-align: left; }
		}
	}
	h3 { 
		width: 950px; text-align: center; font-family: 'notokr-regular'; font-weight: normal; font-size: 18px; color: #55acee; line-height: 1; padding-top: 31px; border-top:1px solid #e6ecf0; margin: 65px auto 48px auto;
		.ico { display: inline-block; width: 32px; height: 32px; background: url('../images/common/icon_noPhone.gif') no-repeat; text-indent: -999em; vertical-align: middle; margin: -2px 12px 0 0; }
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
	.main-intro span { font-family:'notokr-light'; }
}
