/*create sprite*/
$bankBI: sprite-map("bi/bank/*.png");

i.bi {
   background-image: $bankBI;
   display: inline-block;
   vertical-align: middle;
}


@each $i in sprite-names($bankBI){
	.bi-#{$i}{
        background-position: sprite-position($bankBI, $i, 0, 0, false);
        background-size: cover;
        @include sprite-dimensions($bankBI, $i);
   }
}


$bankingIcon: sprite-map("banking-icons/*.png");

i.banking-icon {
   background-image: $bankingIcon;
   display: inline-block;

   vertical-align: middle;

   @each $i in sprite-names($bankingIcon){
	   &.#{$i}{
           background-position: sprite-position($bankingIcon, $i, 0, 0, false);
           background-size: cover;
           @include sprite-dimensions($bankingIcon, $i);
	   }
   }
}