@import "compass/css3";

@include font-face("notokr-regular", font-files("/resources/fonts/notokr-regular.woff2", "/resources/fonts/notokr-regular.woff", "/resources/fonts/notokr-regular.ttf", "/resources/fonts/notokr-regular.svg#notokr-regular"), "/resources/fonts/notokr-regular.eot", normal, normal);

@include font-face("notokr-medium", font-files("/resources/fonts/notokr-medium.woff2", "/resources/fonts/notokr-medium.woff", "/resources/fonts/notokr-medium.ttf", "/resources/fonts/notokr-medium.svg#notokr-medium"), "/resources/fonts/notokr-medium.eot", normal, normal);

@include font-face("Roboto-Light", font-files("/resources/fonts/Roboto-Light.woff", "/resources/fonts/Roboto-Light.ttf", "/resources/fonts/Roboto-Light.svg#Roboto-Light"), "/resources/fonts/Roboto-Light.eot", normal, normal);

@include font-face("notokr-bold", font-files("/resources/fonts/notokr-bold.woff2", "/resources/fonts/notokr-bold.woff", "/resources/fonts/notokr-bold.ttf", "/resources/fonts/notokr-bold.svg#notokr-bold"), "/resources/fonts/notokr-bold.eot", normal, normal);

@include font-face("notokr-light", font-files("/resources/fonts/notokr-light.woff2", "/resources/fonts/notokr-light.woff", "/resources/fonts/notokr-light.ttf", "/resources/fonts/notokr-light.svg#notokr-light"), "/resources/fonts/notokr-light.eot", normal, normal);

@include font-face("notokr-light", font-files("/resources/fonts/notokr-light.woff2", "/resources/fonts/notokr-light.woff", "/resources/fonts/notokr-light.ttf", "/resources/fonts/notokr-light.svg#notokr-light"), "/resources/fonts/notokr-light.eot", normal, normal);



.notokr-regular { font-family: notokr-regular !important; }
.notokr-black { font-family: notokr-black !important; }
.notokr-bold { font-family: notokr-bold !important; }
.notokr-demilight { font-family: notokr-demilight !important; }
.notokr-light { font-family: notokr-light !important; }
.notokr-medium { font-family: notokr-medium !important; }
.notokr-thin { font-family: notokr-thin !important; }