@font-face {
  font-family: "mopic-glyphicon";
  src: url('../images/fonts/mopic-glyphicon.eot');
  src: url('../images/fonts/mopic-glyphicon.eot?#iefix') format('eot'),
    url('../images/fonts/mopic-glyphicon.woff') format('woff'),
    url('../images/fonts/mopic-glyphicon.ttf') format('truetype'),
    url('../images/fonts/mopic-glyphicon.svg#mopic-glyphicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "mopic-glyphicon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
/*
.icon-icon-01:before { content: "\EA01" }
.icon-icon-02:before { content: "\EA02" }
.icon-icon-03:before { content: "\EA03" }
.icon-icon-04:before { content: "\EA04" }
.icon-icon-05:before { content: "\EA05" }
.icon-icon-06:before { content: "\EA06" }
.icon-icon-07:before { content: "\EA07" }
.icon-icon-08:before { content: "\EA08" }
.icon-icon-09:before { content: "\EA09" }
.icon-icon-10:before { content: "\EA0A" }
.icon-icon-11:before { content: "\EA0B" }
.icon-icon-12:before { content: "\EA0C" }
.icon-icon-13:before { content: "\EA0D" }
.icon-icon-14:before { content: "\EA0E" }
.icon-icon-15:before { content: "\EA0F" }
.icon-icon-16:before { content: "\EA10" }
.icon-icon-17:before { content: "\EA11" }
.icon-icon-18:before { content: "\EA12" }
.icon-icon-19:before { content: "\EA13" }
.icon-icon-20:before { content: "\EA14" }
.icon-icon-21:before { content: "\EA15" }
.icon-icon-22:before { content: "\EA16" }
.icon-icon-23:before { content: "\EA17" }
.icon-icon-24:before { content: "\EA18" }
.icon-icon-25:before { content: "\EA19" }
.icon-icon-26:before { content: "\EA1A" }
.icon-icon-27:before { content: "\EA1B" }
.icon-icon-28:before { content: "\EA1C" }
.icon-icon-29:before { content: "\EA1D" }
.icon-icon-30:before { content: "\EA1E" }
.icon-icon-31:before { content: "\EA1F" }
.icon-icon-32:before { content: "\EA20" }
.icon-icon-33:before { content: "\EA21" }
.icon-icon-34:before { content: "\EA22" }
.icon-icon-35:before { content: "\EA23" }
.icon-icon-36:before { content: "\EA24" }
.icon-icon-37:before { content: "\EA25" }
.icon-icon-38:before { content: "\EA26" }
.icon-icon-39:before { content: "\EA27" }
.icon-icon-40:before { content: "\EA28" }
.icon-icon-41:before { content: "\EA29" }
.icon-icon-42:before { content: "\EA2A" }
.icon-icon-43:before { content: "\EA2B" }
.icon-icon-44:before { content: "\EA2C" }
.icon-icon-45:before { content: "\EA2D" }
.icon-icon-46:before { content: "\EA2E" }
.icon-icon-47:before { content: "\EA2F" }
.icon-icon-48:before { content: "\EA30" }
.icon-icon-49:before { content: "\EA31" }
.icon-icon-50:before { content: "\EA32" }
.icon-icon-51:before { content: "\EA33" }
.icon-icon-52:before { content: "\EA34" }
.icon-icon-53:before { content: "\EA35" }
.icon-icon-54:before { content: "\EA36" }
.icon-icon-55:before { content: "\EA37" }
.icon-icon-56:before { content: "\EA38" }
.icon-icon-57:before { content: "\EA39" }
.icon-icon-58:before { content: "\EA3A" }
*/




















