@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";


@import "./font";


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input:-ms-input-placeholder { color: #aea9a9; } 			/*Internet Explorer 10~ */
input::-webkit-input-placeholder { color: #aea9a9; }	/*Webkit, Blink, Edge*/
input::-moz-placeholder { color: #aea9a9; } 				/*Mozilla Firefox 4 ~ 18*/
input::-moz-placeholder { color: #aea9a9; }  					/*Mozilla Firefox 19~*/


.placeholder {
	color: #bbb;
}


.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear:both; }
.ellipsis {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; padding: 0; margin: 0; }
body {
	overflow-x:hidden; 
	font-family: 'notokr-regular', 'notokr-light', 'notokr-medium';
	font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; 
	padding: 0;  
	background:white url('../images/common/bg_sub.png') repeat-x left top;
	
	 &#login {
	    background-image: none;
	    background-color: #e6ecf0;
	    .wrapper { 
	    	height: 110px; background: white url(../images/common/bg_log_header.gif) repeat-x;
	    }
	    .header.main-h {
			position: static;
			 z-index: 10;
			 width: 100%;
			 height: 110px;
			 background: white url(../images/common/log_bg_header.gif) repeat-x;  
	 	}
	 }		
}


placeholder{ font-size:12px; }
a { cursor: pointer; }

dl,ul,ol,menu,li {list-style:none;}
a {color:#333;text-decoration:none;}
a:active, a:hover, a:visited, a:link {text-decoration:none;}
label{font-weight:normal;padding:0;margin:0;}
.txt_right{ text-align:right; }
.red{color:#fe4242;}


$point-color:#55acee;
$point-color-line:#4d9bd6;
$main-gray-color:#444b52;
$main-gray-color-line:#33383d;
$gray-color:#f7fafc;
$wrap-width:100%;

.yellow{ color:#fda032; }
.blue{ color:$point-color; }
.pink{ color:#ca65c6; }
.darkred{ color:#b93737; }
.darkred{ color:#bc3c3c; }
.green{	 color:#00a99d; }
.purple { color:#a073c0; }



.text-area{
	padding:15px; border: 1px solid #e0e4e7;
	&:hover{ background-color:$gray-color; }
	&:focus { border-size: 1px;  border-color: $point-color-line; }
}
.txt-center{text-align:center;}
.my-placeholder{color:#d1d9e0;}

/* =========================================================================================================
	Header
========================================================================================================= */
.header {
	position:absolute; 
	left:0;top:0;
	z-index:10;
	width:100%;
	height:92px;
}

.head_inner {
	position:relative; width: 100%; /*min-width: 1280px;*/ max-width: 1462px; margin:0 auto;
	.logo {
		position:absolute; top:59px; left:70px; z-index: 10; width:120px; height:34px;
		font-size:0; background: url('../images/common/logo.png') no-repeat center center;
		a{ display:block; width:120px; height:30px; }
		img { width:100%; }
	}
}
.main .head_inner .logo { background-image: url('../images/common/logo_main.png'); }
.top-menu { position:absolute; right:73px;top:8px; font-family: 'notokr-light'; }
.top-menu-right {
	position:absolute; top:55px; right:70px; z-index: 50; overflow:hidden;
	li{ float:left; }
	a { display:block; width:45px; height:35px; text-indent:-10000px; background-position: center center; background-repeat: no-repeat; }
	.first{	
		background-image: url('../images/common/bg_top_right01.png');
	}
	.second{	
		background-image: url('../images/common/bg_top_right02.png');
	}
	.third{	
		background-image: url('../images/common/bg_top_right03.png');
	}
}
.main .top-menu-right {
	.first{	
		background-image: url('../images/common/bg_top_right01_main.png');
	}
	.second{	
		background-image: url('../images/common/bg_top_right02_main.png');
	}
	.third{	
		background-image: url('../images/common/bg_top_right03_main.png');
	}
}

.header.down {
	position:fixed; top:-40px; left:0;
	min-width:1080px;
	background:none;
	background-color:#242b37;
}

.wrapper.down {padding-top:92px; top:-40px}
.down .header .head_inner .logo {width:93px; top:53px}

/* GNB */
.gnb { position:absolute; top:40px; left:0; width:100%; }
.gnb_sub {
	position: relative; width: 705px; margin: auto; 
	.gnb-list_sub{
		position: absolute; top:18px; padding:0; overflow:hidden; margin:0;
		ul {
			padding: 0; margin: 0;
			li{
				float:left; color:#bbb; font-family: 'notokr-regular'; font-size:14px; padding:0; margin:0 46px 0 0;
				a{
					color:inherit;
					&:hover { color:white; }
					&.active { font-family: 'notokr-medium'; color: white; }
				}
			}
		}
	}	
}


#savings {
	.insure,.loan,.p2p,.currency,.card{
		display:none;
	}
}

#insure {
	.savings,.loan,.p2p,.currency,.card{
		display:none;
	}
}

#loan {
	.savings,.insure,.p2p,.currency,.card{
		display:none;
	}
}
#card {
	.savings,.insure,.loan,.p2p,.currency{
		display:none;
	}
}
#p2p {
	.savings,.insure,.loan,.card,.currency{
		display:none;
	}
}
#exchange {
	.savings,.insure,.loan,.card,.p2p{
		display:none;
	}
}

#mypage,#interest,#events,#help,.main {
	.savings,.insure,.loan,.card,.p2p,.currency{
		display:none;
	}
}

#savings{ .gnb_sub .gnb-list_sub { left:7.2%; } }
#loan{ .gnb_sub .gnb-list_sub { left:155px; } }
#insure{ .gnb_sub .gnb-list_sub { left:54.5%; } }
#card{
	.gnb-list_sub {
		left: 55%;
		.gnb-depth2_sub { width: 100%; }
	}
}

#p2p{
	.gnb-list_sub { left:70.9%; }
	.offset-right-7 {
		.select-label { float: left; }
		.radio_normal { float: left; width: auto; }
	}
	.content_box .product_benefit .unit { font-family: "Roboto-regular"; }
}

#login{
	background-color:#e6ecf0;

	.footer{
		position:fixed;
		bottom:0;
	}
}


.gnb-list {
	position:relative;
	/*right:380px;
	top:0;*/
	z-index:5;
	width: 690px;
	padding: 0;
	overflow:hidden;
	margin: auto;
}
.gnb-item {
	float:left;
}

@mixin gnb-title{
	display:block;
	width:115px;
	height:70px;
	font-size:18px;
	line-height:70px;
	text-align:center;	
}

.gnb-item .title {
	@include gnb-title;
	color:#fff;
}



#insure,#savings,#loan,#card,#p2p,#exchange,#mypage,#interest,#events,#help,#login,#main2, .sb-open, #service-info {
	.gnb-item{
		.title{
			@include gnb-title;
			color: #444b52;
			&:hover {
				color:#fff;
			}
		}
	}

}


@mixin bg-title{
	@include gnb-title;
	color: $point-color;
	background-image: url('../images/common/bg_title.png');
	background-position: 0px 66px;
	background-repeat: repeat-x; 
}

#insure .gnb-item .insure,
#savings .gnb-item .savings,
#loan .gnb-item .loan,
#card .gnb-item .card,
#p2p .gnb-item .p2p,
#exchange .gnb-item .exchange{
	@include bg-title;
	span{
		color: #4d9bd6;
		font-weight:bold;
	}
}



@mixin gnb-title-hover{ display:block; height:70px; background-color: $main-gray-color; margin:0; }
.gnb-item:hover .title span { @include gnb-title-hover; color:#fff !important; }
.gnb-item .gnb-depth2 {
	display:none; z-index:3; height:170px;
	padding:0 0 0 31px; border-right:1px solid #50555a; margin:20px 0 0 0;
	li a {
		display:block; height:30px; color:#a6a6a6; font-size:14px; font-weight:normal;	text-decoration:none; text-align:left;
	}
}
.gnb-item:last-child .gnb-depth2 { border-right: 0; }
.gnb-item .gnb-depth2 li a:hover, .gnb-item .gnb-depth2 li a.active { color:#fff; }
.gnb-item .pd22{ padding:0 0 0 16px; }
.gnb-add {
	display:none; position:absolute; top:110px; right:0; left:0; z-index:2; 
	height:220px; background-color: $main-gray-color;
}

.header.main-h { position:absolute; top:0; left:0; z-index:10; width:100%; height:92px; }
.header.main-h.down {
	position:fixed; top:-40px; left:0;
	min-width:1080px;
	background:none;
	background-color:#242b37;
}

.navbar-nav{
	padding:0; margin:9px 0 0 0;
	li{
		float:left;
		padding:0 15px ;		
		background-image: url('../images/common/bg_utill.png');
		background-position: right 3px;
		background-repeat: no-repeat;	
		font-size:12px;
	}
	 .last{
		background-image: none;
	}

}



.navbar-nav a{
	padding:0;
	color:#636363;

	&:hover{
		text-decoration:none;
	}
	&:active{
		text-decoration:none;
	}
	&:link{
		text-decoration:none;
	}
}
.navbar-nav li.dropdown.open { min-height: 130px; }
.navbar-nav .dropdown.open .dropdown-menu { display: block;  }
.navbar-nav .dropdown .dropdown-menu {
	top:20px; min-width:90px;
	@include border-radius(5px 5px 5px 5px);
	margin:5px 0 0 0;

	li{
		padding:0;	
		background-image:none;
		width:100%;
		text-align:center;
		a{
			padding:2px 15px;
			color:#333;
		}
	}
} 


.main .navbar-nav a{
	color:#fff;
}


.footer{
	bottom:0; z-index: 10;
	width:100%; height:220px; background-color: $main-gray-color; padding: 0; overflow: hidden;
	.inner{
		position: relative; max-width: 1600px; padding:45px 0 0 50px; margin:0 auto;
		ul{ 
			width:100%; padding: 0; overflow:hidden; margin:0 0 15px 0; 
			li{
				float:left; height:18px; color: #eee; font-size:12px; margin-top: 6px;
				&.divide { color: #eee; padding: 0 8px; }
				a { display:inline-block; color:inherit; padding:0; margin:0; }
			}
		}
		.last{ border-right:none; }
		.copy_logo{
			width:114px; height: 31px; 
			background: url('../images/common/logo_copy.png') no-repeat; border-right:none; 
			background-size: cover; margin-top: 0; margin-right: 19px; 
		}
		.copy{
			padding-top: 4px; margin:0;
			li{	
				color:#999fa5; margin-top: 3px;
				&.divide { color: #999fa5; padding: 0 10px; }
				a { text-decoration:underline; color:#999fa5; }
			}
			.last{ float: none; display: block; line-height: 1; border-right:none; }
		}
		.warn-info { font-size: 12px; color:#999fa5; margin: 14px 0 0 0; }
	}
	.copyright { position: absolute; top:45px; right: 50px; color: #999fa5; line-height: 1; font-size: 12px; }
}


.container{
	width: 100%;
	margin:192px auto 0;
	padding:0;

	.helper-wrap{
		width: 100%; margin: auto;
		#helper {
			width: 800px; margin: auto;
		}
	}
	
	.results-wrap {
		width: 100%; background-color: #e6ecf0;
		#results { 
			width: 900px; margin: auto; padding: 0; 
			.BIList { 
				color: #999fa5;
				p { font-size: 12px; line-height: 1; margin: 0 0 30px 0; }
				.emp { color: #4d9bd6; }
				li { 
					float: left; color: #444; font-size: 14px; line-height: 1; margin: 0 13px 30px 0; 
					i.bi { width: 136px; height: 38px; }
					span { display: block; margin-top:13px; }
				}
			}
		}
	}
}





#insure .container .helper-wrap{ height: 100%; min-height: 219px; }
#insure .tab-content .row .col-md-4 { float: none; display: inline-block; min-height: 40px; vertical-align: top; } 

.container_login{
	width: auto;
	margin:0 auto;
	padding:0;
}


.top_search{
	padding:0;
	margin:0;
}

.down_result{
	padding: 40px 0;
	margin:0;
}

.nav-tabs {	
	margin:0 0 31px 0;
	border-bottom:none;

	 li{
		width:100px;
		height:40px;
		text-align:center;
		overflow: hidden;

		 a{
		 	height: 40px; color:#444; line-height: 1.5; padding:10px; border:none; margin:0;
			&:hover{
				background-color: #f7fafc;
				padding:10px;
				color:#333;
			}

		}

	}

	li.active a{
		background-color: $point-color;
		color:#fff;
		border: 1px solid #4d9bd6 !important;
	}
	li.left.active a{	
		border-top:1px solid #4d9bd6;
		border-left:1px solid #4d9bd6;
		border-bottom:1px solid #4d9bd6;
	}

	li.left a{	
		border-top:1px solid #e0e4e7;
		border-left:1px solid #e0e4e7;
		border-bottom:1px solid #e0e4e7;
		@include border-radius(5px 0 0 5px);
	}

	li.right a{
		border-top:1px solid #e0e4e7;
		border-right:1px solid #e0e4e7;
		border-bottom:1px solid #e0e4e7;
		@include border-radius(0 5px 5px 0);
	}

	li.active a:hover{
		border-color: $point-color-line;
		background-color: $point-color;
		color:#fff;
	} 

}



.nav-tabs-gray {	
	border-bottom:none;
	margin:0 auto;
	padding:0 0 22px 0;
	display: inline-block;

	li{
		float:left; width:150px; height:38px; text-align:center;
		a {
			height: 40px; line-height: 1.6; overflow: hidden;
			border:none;
			padding:9px 0;
			margin:0;			
			background-color:#fff;

			border-top:1px solid #e0e4e7;
			border-left:1px solid #e0e4e7;
			border-bottom:1px solid #e0e4e7;
			@include border-radius(0);	

			&:hover{
				background-color: #f7fafc;
				color:#333;
			}

		}

		&.active, &:first-child.active, &:last-child.active {
			a { background-color: #778491; color:#fff; border:1px solid #525a63; }
		}

		&.disabled a, &.disabled:hover a {
			background-color: #D8DCE0;
			color:#BFBBBB;
		}
		
		&:first-child a {
			border-top:1px solid #e0e4e7;
			border-left:1px solid #e0e4e7;
			border-bottom:1px solid #e0e4e7;
			@include border-radius(5px 0 0 5px);			
		}

		&:last-child a {
			border-top:1px solid #e0e4e7;
			border-left:1px solid #e0e4e7;
			border-right:1px solid #e0e4e7;
			border-bottom:1px solid #e0e4e7;
			@include border-radius(0 5px 5px 0);
		}

		&.active a:link{
			border-size:1px;
			border-color: #525b63;
			background-color: #778491;
			color:#fff;
		} 

	}

}

#comparison {
	a.btn-submit-round {
		margin-left: 10px;
	}
}

.tab-content{	
	position:relative; padding:0;

	.comparison_txt{ 
		position: absolute; top:-58px; left:220px; 
		.view_comparison {
			span {
				.msg {
					width:100%; height: auto; text-align: center; background: none;
				}
			}
		}
	}

	label{
		width: 89px;
		margin-right:0;
		vertical-align: top;
	}
	label + div { display: inline-block; width: 164px; }

	input{
		width:164px;
	}
	.row {
		width: 819px; 
		margin: 0;
	}
	.row .col-md-4 { 
		float:left; width: 253px; padding: 0; margin-right: 20px; margin-bottom: 10px; 
		a { display: block; width: 164px; height: 40px; }
	}
	.btn-submit { margin-top: 0; margin-bottom: 20px; }

	.select-dropdown { 
		width:164px; left:-1px; 
		&.small .selected-item { font-size: 14px; }

		&.invalid {
			border: 1px solid #fa365c; 
			.carat + span { color:#fa365c; font-weight: normal; font-size: 12px; }
		}
		&.invalid + span { display: block; color: #fa365c; font-weight: normal; font-size: 12px; }
	}

}


.comparison_container{
	position:relative; z-index:1;
	.cmp_set{
		position:absolute;
		top:-68px;
		left:220px;
		width: 580px; 
		height: 40px;
		.txt{
			display:inline-block; line-height: 2.9em;
		}

		.set_btn {
			position:absolute;
			top:0;
			right:0px;
			display:block;
			font-size:14px;
			text-align:center;
			padding:10px 15px;
			background-color:#f5f7f9;
			color:$point-color-line;
			border: none;
			&:hover{
				background-color:$point-color;
				color:#fff;
			}
		}
	}
	.best-product { 
		position: absolute; width: 100%; height: 40px; background: #37d49a url('../images/common/ico-cup.png') no-repeat; background-position: 30px 11px;
		color: white; font-family: 'notokr-medium'; font-weight: normal; font-size: 14px; line-height: 1; text-indent: 36px;
		padding:13px 0 0 30px; border-radius: 10px; border-top-left-radius:0; border-top-right-radius:0; 
	}
}


.comparison_view {
	.view_comparison {
		display:block;
		font-size:20px;
		font-weight:bold;
		text-align:center;
		cursor: pointer;

		
		height:80px;
		padding:16px 0 0 0;
		span{		
			display:block;
			width:30px;
			height:30px;
			background-image: url('../images/common/ico_total.png');
			background-position: -257px -40px;
			background-repeat: no-repeat;	
			margin:0 auto;
			&.msg{
				width:100%; height: auto; font-weight: normal; text-align: center; background: none; margin-bottom: 15px;
			}
		}
		&:hover{
			color:$point-color;
			span {
				background-position: -287px -40px;
			}
		}
	}
}




.select-label{margin:10px 20px 0 0;} 


.text-input {
	display: inline-block;
	&.invalid {
		.unit + span {
			display: table; color:#fa365c; font-weight: normal; font-size: 12px;
		}
	}

	.unit {
		color: #999fa4;
		position: absolute;
		right: 20px;
		top: 0;
		line-height: 40px;
	}
}

.text-input-normal {
	height: 40px;
	padding:5px 30px 5px 10px;
	font-size:14px;
	border: 1px solid #e0e4e7;
	
	&:hover{	
		/*background-color:#f7fafc;*/
	}
	&:focus {
		border-size: 1px; 
		border-color: $point-color-line;
	}
}

.invalid .text-input-normal { border: 1px solid #fa365c; } 
.top_sort{
	overflow:hidden;
	padding:0;
	margin:0 0 10px 50px;

	li{
		float:left;
		border-left:1px solid #cfd5d9;
		padding:0 10px;
		font-size:12px;
		margin:0;

		a{			
			color:#999fa5;

			&:hover{
				color: $point-color-line;
			}
		}
		&.active a {
			color: $point-color-line;
		}

		&:first-child {
			border-left:none;
			padding:0 10px 0 0;
		}
		
	}
	
	.total-num {
		float: right;
		margin-right: 50px;
	}

}



.select-dropdown,
.select-dropdown .dropdown-options,
.select-dropdown li,
.select-dropdown dropdown-options:after,
.select-dropdown .carat,
.select-dropdown .carat:after,
.select-dropdown .selected-item:after,
.select-dropdown:after{
	@include transition(all 150ms ease-in-out);
}

/* WRAPPER */
.select-dropdown {
	position: relative; z-index: 1; float:right; width:164px; height: 40px;
	font-weight: normal; line-height: 22px;
	background-color:#fff; border:1px solid #e0e4e7; cursor: pointer;

	.label-wrapper {
		padding: 10px 15px;
		line-height: 18px;
		height: 38px;
	}

	.placeholder {
		color: #bbb;
	}


	&.open, &.open:hover {
		z-index: 2;
		color: #fff;
		border-color: $point-color-line;
		background-color: $point-color;
		
		.placeholder {
			color: #fff;
		}
	}

	&:hover {
		background-color:#f7fafc;
	}

	.selected-item {
		display: inline-block; width:95%; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; 
	}
}

/* CARAT */
.select-dropdown .carat,
.select-dropdown .carat:after{
	position: absolute;
	right:17px;
	top: 26%;
	z-index: 1;
	width:20px;
	height:20px;
	background-image: url('../images/common/ico_total.png');
	background-position: -237px 0px;
	background-repeat: no-repeat;
}
.select-dropdown:hover .carat:after{
	border-top-color: #ffe721;
}
.select-dropdown.focus .carat{
	border-top-color: #ffe721;
}
.select-dropdown.focus .carat:after{
	border-top-color: #ffe721;
}
.select-dropdown.open .carat{
	background-image: url('../images/common/ico_total.png');
	background-position: -237px -20px;
	background-repeat: no-repeat; 
}


/* DROP DOWN WRAPPER option box*/
.dropdown-options {
	/* Size & position */
	display: none;
	position: absolute;
	left: -1px; /* Size */
	right: 0; /* Size */
	top : 39px;
	/*width: inherit;*/
	max-height: 255px;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;


	/* Styles */	
	color:#fff;
	background-color: #fff;
	/*margin-top:10px;*/
	border-left:1px solid #d1d9e0;
	border-right:1px solid #d1d9e0;
	border-bottom:1px solid #d1d9e0;

	&.open {
		display: block;
		visibility: visible;
		z-index: 1000;

		li.selected {  // ,li:hover
			background-color: $point-color-line;
			color:#fff;

			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 60px;
			}
		}
	}

	ul{
		margin: 0;
		padding: 0;

		list-style: none;
	}

	li {
		display: block;
		overflow: hidden;
		padding:8px 0 8px 15px;		
		list-style: none;
		
		color: #3a3a3a;	
		font-size:14px;
		font-weight: normal;
		
		text-decoration: none;
		white-space: nowrap;
		text-transform: capitalize;
		
		//transition: all 0.3s ease-out, visibility 1ms;
		
		&.deactivated {
			color: #000;
		}
	}
}

/* .focus class is also added on hover */
.select-dropdown li.focus{
	background-color: $point-color-line;
	position: relative;
	z-index: 3;
	color:#fff;	
}

/**/
.dropdown-sy,
.dropdown-sy div,
.dropdown-sy li,
.dropdown-sy div:after,
.dropdown-sy .carat,
.dropdown-sy .carat:after,
.dropdown-sy .selected:after,
.dropdown-sy:after {
  /* -webkit-transition: all 150ms ease-in-out; */
  //-moz-transition: all 150ms ease-in-out;
  //-ms-transition: all 150ms ease-in-out;
  @include transition(all 150ms ease-in-out);
  }

.dropdown-sy .selected:after,
.dropdown-sy.scrollable div:after {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none; }

/* WRAPPER */
.dropdown-sy {
  position: relative;
  float: right;
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-weight: normal;
  padding: 10px 15px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #e0e4e7; }

.dropdown-sy.open {
  z-index: 2; }

.dropdown-sy.select {
  color: #fff; }

.dropdown-sy:hover {
  background-color: #f7fafc; }

.dropdown-sy.focus {
  border-size: 1px;
  border-color: #4d9bd6;
  background-color: #55acee;
  color: #fff; }

/* CARAT */
.dropdown-sy .carat,
.dropdown-sy .carat:after {
  position: absolute;
  right: 10px;
  top: 26%;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-image: url("../images/common/ico_total.png");
  background-position: -237px 0; }
.dropdown-sy:hover .carat:after {
  border-top-color: #ffe721; }

.dropdown-sy.focus .carat {
  border-top-color: #ffe721; }
  .dropdown-sy.focus .carat:after {
    border-top-color: #ffe721; }

.dropdown-sy.focus .carat,
.dropdown-sy.open .carat {
  background-image: url("../images/common/ico_total.png");
  background-position: -237px -20px; }

/* OLD SELECT (HIDDEN) */
.dropdown-sy .old {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden; }
.dropdown-sy select {
  position: absolute;
  left: 0px;
  top: 0px; }

.dropdown-sy.touch select {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include opacity(0); }

/* SELECTED FEEDBACK ITEM */
.dropdown-sy li {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: normal; }
  .dropdown-sy li.selected {
    color: #fff; }
.dropdown-sy .selected:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px; }

/* DROP DOWN WRAPPER option box*/
.dropdown-sy div {
  position: absolute;
  left: -1px;
  right: 0;
  top: 100%;
  overflow: hidden;
  @include opacity(0);
  color: #fff;
  width: 150px;
  margin-top: 1px;
  border-left: 1px solid #d1d9e0;
  border-right: 1px solid #d1d9e0;
  border-bottom: 1px solid #d1d9e0; }

.dropdown-sy:hover div {
  background: #fff; }

/* Height is adjusted by JS on open */
.dropdown-sy.open div {
  @include opacity(1);
  z-index: 2; }

/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown-sy.scrollable div:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px; }

.dropdown-sy.scrollable.bottom div:after {
  @include opacity(0); }

// DROP DOWN LIST option list MODIFIED
.dropdown-sy ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  list-style: none;
  overflow: hidden;
  padding: 0;
  background: #fff; }

.dropdown-sy.scrollable.open ul {
  overflow-y: auto; }

/* DROP DOWN LIST ITEMS */
.dropdown-sy li {
  list-style: none;
  padding: 8px 0 8px 15px;
  color: #3a3a3a;
  font-weight: normal; }
.dropdown-sy li:last-child {
  border-bottom: 0; }

/* .focus class is also added on hover */
.dropdown-sy li.focus {
  background-color: #4d9bd6;
  position: relative;
  z-index: 3;
  color: #fff; }
.dropdown-sy li.active {
  background-color: #4d9bd6;
  color: #fff; }

.w_md .dropdown-sy {
  width: 400px; }
.w_md .dropdown-sy div {
  width: 400px; }

.w_wd .dropdown-sy {
  width: 690px; }
.w_wd .dropdown-sy div {
  width: 690px; }
/**/

.right_btn{ width:100%; text-align:right; }
.center_btn{ width:100%; text-align:center; margin:20px 0 0 0; }
.btn{ height:40px; color: #444; line-height: 1.6; padding:9px 25px;
	  @include border-radius(0);
	  overflow: hidden; margin:0; }


.btn-submit{
	color:#fff; background-color: $point-color; border-color: $point-color-line;
	&:hover{ color:#fff; background-color: $point-color-line; }
}

.btn-cancel{
	color:#fff; background-color: $main-gray-color; border-color: $main-gray-color-line;
	&:hover{ color:#fff; background-color: $main-gray-color-line; }
}
.btn-event{
	background-color: #778491;
	color:#fff;
	border-color: #626d78;
	&:hover{
		background-color: $main-gray-color-line;
		color:#fff;
	}
}

.btn-white{
	border-color:#e0e4e7;
	background-color:#fff;
	padding:9px 15px;
	&:hover{
		background-color: $point-color;
		border-color: $point-color-line;
		color:#fff;
	}
}

.btn-small{
	padding:4px 15px;
	height:30px;
	border-color:#e0e4e7;
	background-color:#fff;

	&:hover{
		background-color: $point-color;
		border-color: $point-color-line;
		color:#fff;
	}
}

.btn-submit-round{
	@include border-radius(30px);
	padding:9px 35px;
	background-color: $point-color;
	color:#fff;
	border-color: $point-color-line;
	&:hover{
		background-color: $point-color-line;
		color:#fff;
	}
}


.badge{
	/*width:14px; height:14px; cursor: pointer;
	font-weight:normal; line-height: 1.25;
	background-color:#999fa5;
	padding:1px 4px;
	margin:-1px 0 0 0;
	vertical-align: text-top;*/
	width:11px; height:11px; cursor: pointer;
	background:url("../images/common/icon_tooltip.png") no-repeat;
	background:url("../images/common/icon_tooltip.svg") no-repeat;
	background-size: cover;
	padding: 0; text-indent: -999em; vertical-align: text-top;
}

.tooltip{
	font-family: Nanum;
}
.tooltip.top .tooltip-arrow { border-top-color: #444b52; }
.tooltip.bottom .tooltip-arrow { border-bottom-color:#444b52; }
.tooltip.right .tooltip-arrow { border-right-color: #444b52; }
.tooltip-inner{	
	max-width:370px;
	text-align:left;
	background-color: #444b52;
	padding:15px 15px;
}

.content_box_out{
	position:relative; width:100%;
	.part{ position:absolute; left:-40px; display: block; width:100%; min-width: 80px; color:#666; font-family: 'notokr-medium'; font-size:12px; }
}

$content_box_width : 800px;
.type1 {
	.product_summary { 
		width: 343px / $content_box_width * 100%;
	}

	.detail_info{
		width: 457px / $content_box_width * 100%;
	}
	&.sm {
		.content_box .product_benefit { 
			bottom: -8px; 
			.highlight { font-size: 90px; }
		}
	}

	.badge{ margin-top: 1px; }

	.content_box .product_benefit { bottom: -11px; }
	.content_box .product_benefit span.last-child { font-family: 'notokr-regular'; }
	
}
.type2 {
	.product_summary { 
		width: 400px / $content_box_width * 100%;
	}

	.detail_info{
		width: 400px / $content_box_width * 100%;
		h4 .span { color: #333; font-size: 20px; }
	}
	.content_box .product_benefit { bottom: -4px; }
	.content_box .product_benefit .highlight { font-size: 75px; letter-spacing: -5px; }
}
.type3 {
	.product_summary { 
		width: 220px / $content_box_width * 100%;
	}

	.detail_info{
		width: 580px / $content_box_width * 100%;
	}	
}
.type4 {
	.product_summary { 
		width: 343px / $content_box_width * 100%;
	}

	.detail_info{
		width: 457px / $content_box_width * 100%;
	}	
}

.content_location{
	float: left;
	position: relative;
	height: inherit;
}


.content_box{
	position:relative; width:800px; height:100%;
	@include box-shadow(1px 3px 3px #d3dadf); margin:0 0 10px 50px; cursor: pointer;
	.innerWrap{
		position:relative; width:800px; height:220px;
		&:hover{ overflow:hidden; outline:2px solid $point-color; }
	}

	.product_summary { 
		@extend .content_location;
		background-color: white;
		font-family: 'notokr-light';
	}

	.detail_info{
		@extend .content_location;
		background-color: #f5f7f9;
		padding: 25px;
		.star { position: absolute; top:0; right: 0; }
	}
	.content_box_h_left{ float:left; width:400px; height:220px; }
	.content_box_h_right{ float:left; width:400px; height:220px; }
	.left_logo{ position:absolute; /*top:25px; left:25px;*/ top:18px; left:10px; }
	.left_top_txt{ position:absolute; top:25px; right:25px; text-align:right; }
	.left_small_txt{ position:absolute; top:90px; left:25px; z-index: 10; width: 100%; font-family: 'notokr-regular'; }
	.main_txt{
		position:absolute; left:0; bottom:5px; width:400px; text-align:right; font-size:20px; padding:0 25px;
		.highlight{ font-size:80px; letter-spacing:-7px; margin:0 5px; }
	}

	.main_txt02{
		position:absolute;
		width:343px;
		padding:0 25px;
		left:0;
		bottom:0;
		text-align:right;
		font-size:20px;

		.highlight{
			font-size:100px;			
			letter-spacing:-7px;
			margin:0 5px;
		}
	}

	.product_benefit{
		position:absolute; right:0; bottom:-9px; width:auto; text-align:right; font-size:20px; padding:0 25px;
		span { color: #444b52; }
		.highlight{ color: #222; font-family: 'Roboto-Light'; font-size:100px; letter-spacing:-7px; margin:0 14px 0 5px; }
		.adding-info { position: absolute; top: -6px; right: 24px; font-size: 14px; color: #999fa5; }
	}
	.star a{
		display:block; width:40px; height:40px;
		background: #c0cddb url("../images/common/blt_star.png") no-repeat center center;
		&:hover{ background-color: $point-color; }
	}
	.select a{ background-color: $point-color;	}
	.description{
		padding:0 50px 0 0;
		h4{ color: #444b52; font-weight:bold; line-height: 1.3; margin:-2px 0 5px 0;
			span { display: inline-block; width: 390px; color: inherit; font-family: 'notokr-medium'; font-size: inherit; font-weight: normal; }
		}
		span{ color:#999fa5; font-size:12px; }
		.comm{
			overflow:hidden; padding:0; margin: 10px 0;
			li{
				float:left; color:#444b52; font-size:12px; padding:0 10px; border-left:1px solid #444b52;
				&:first-child{ padding:0 10px 0 0; border-left:none; }
			}
		}
		.hcopy { color: #999fa5; line-height: 18px; font-size: 12px; margin: 10px 0; }
	}
	.get_profit{
		position:absolute; left:25px; bottom:20px; width:100%; padding:0; margin:0; overflow:hidden;
		li{
			float:left; width:50%; color:#444b52; font-family: 'notokr-regular';
			&.odd { font-family: 'notokr-regular'; }
			a { height: 20px; color: #4d9bd6; vertical-align: text-top;}
		}
	}
	.right_txt{
		position:absolute; top:25px; left:425px; padding:0 50px 0 0;
		h4{ display: inline-block; font-weight:bold; margin:0 0 5px 0; }
		span{ color:#999fa5; font-size:12px; }
	}
	.right_txt02{
		padding:0 50px 0 0;
		h4{ display: inline-block; font-weight:bold; margin:0 0 5px 0; }
		span{ color:#999fa5; font-size:12px; }
		.comm{ overflow:hidden; padding:0; margin:5px 0;
			li{
				float:left; color:#444b52; font-size:12px; padding:0 10px; border-left:1px solid #444b52; &:first-child{ padding:0 10px 0 0; border-left:none; }
			}
		}
	}
	.right_txt03{
		position:absolute; top:25px; left:245px; padding:0 50px 0 0;
		h4{ display: inline-block; font-weight:bold; margin:0 0 5px 0; }
		span{ color:#999fa5; font-size:12px; }
	}
	.right_txt_down{
		position:absolute; left:425px; bottom:25px; width:300px; padding:0; margin:0; overflow:hidden;
		li{ float:left; width:50%; }
	}
	.right_txt_down02{
		position:absolute; left:25px; bottom:25px; width:300px; padding:0; margin:0; overflow:hidden;
		li{ float:left; width:50%; }
	}
	.right_txt_down03{
		position:absolute; left:245px; bottom:25px; overflow:hidden; width:300px; padding:0; margin:0;
		li{ float:left; width:70%; }
		.left{ width:30%; }
	}
	.right_txt_down_normal{ position:absolute; left:425px; bottom:25px; width:300px; padding:0; margin:0; }
	.img_area{ position:absolute; top:0; left:0; width:220px; height:220px; }
	.right_ico{
		position:absolute; bottom:30px; right:40px; overflow:hidden;
		li{ float:left; padding:0 10px; }
	}
	.label{ color:#fff; font-weight:normal;	font-size:10px; margin:0 0 0 10px; }
	.label-danger{ background-color:#ff5252; padding:3px 10px;
				   @include border-radius(10px);
				 }
	.bar{ width:407px; margin-top: 30px; }
	.progress{ background-color:#e0e4e7;
			   @include border-radius(10px);
			 }
	.progress-bar{
		min-width: 20px; color:#B5DFFE; font-size:12px; text-align:right; background-color: $point-color;
		@include border-radius( 2em); 
		span{
			color:#b5dffe; font-family: 'notokr-regular'; font-size:inherit; line-height: 22px; margin:0 10px 0 5px;
			&:first-child { font-family: 'notokr-light'; color: white; margin: 0; }
		}
	}
			
}
#insure .content_box .description h4 span { width: 330px; }
#card .content_box .description h4 span { width: 500px; }

.annuity .content_box .get_profit li{
	width:263px;
	&.odd { width:145px; }
}
.life .content_box .get_profit li{
	width:232px;
	&.odd {	width:145px; }
}
.shilson .content_box .get_profit li{
	width:205px; height: 20px; font-family: 'notokr-regular'; line-height: 28px;
	&.odd { width:125px; }
}

.bg01{background-image: url("../images/common/bg01.png");}
.bg02{background-image: url("../images/common/bg02.png");}
.bg03{background-image: url("../images/common/bg03.png");}

body.masked {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9; 
}

.mask {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1040;
	background-color: #000;
	@include opacity(.5);
}

.fetching-modal {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	height: 100%;
	display: table;
	z-index: 1050;
}

.fetching-dialog {
	display: table-cell;
	vertical-align: middle;
}

.fetching-msg {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 230px;
	background-color: #fff;
	padding: 40px;

	.message-box {
		margin: 15px 0;
		font-size: 18px;
	}
}

.selection-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	padding: 0;
	z-index: 20;
	width: 100%;
	background-color: #fff; 
}

.selection-contents {
	width: 800px;
	min-height: 340px;
	margin: 0 auto;
	background-color: #f5f7f9;
	overflow: hidden;
	@include border-radius( 20px);
	padding: 20px; 

	.cmp-container {
		height: 340px;
		overflow-y: auto;
	}
}


.selection-contents {
	width:800px; background-color: #f5f7f9; padding:20px;
	@include border-radius(20px);
	overflow-y: auto; margin:0 auto;
	.cmpr-product {
		height: 60px; text-align:left; color:$main-gray-color; font-weight:bold; font-size:16px; background-color: #fff; padding:8px 0px 0px 20px; margin:10px 0 0 0; @include box-shadow( 1px 2px 2px #d3dadf);
		&:hover{ background-color: #f7fafc; }
		.num{ font-size:20px;
			.val { padding: 0 7px; }
		}
		.labelType { display: block; font-size: 12px; font-weight: normal; margin: 0 0 5px 0; }
		span{ display:block; color:#a9aeb3; font-weight:normal; font-size:12px; margin:0 0 5px 0; }
		.val { display: inline-block; color: inherit; font-size: 18px; }
		.in{ display:inline-block; }
		.btn_right { display:inline-block; font-weight:normal; font-size:14px; padding:8px 12px; border:1px solid #E0E4E7; margin:3px 0 0 0; }
	}
	.select{
		color:#fff; background-color: $point-color;	border:1px solid $point-color-line;
		span{ color:#A2E0FF; }
		.val { color: white; }
		.btn_right { color:#fff; border:1px solid #4d9bd6; }
		&:hover{ background-color: $point-color;	color:#fff; border:1px solid $point-color-line; }
	}
	.product-adder, .cmp-empty {
		display:block; text-align:center; background-color: #e6ecf0; padding:70px 0; border:2px solid #e6ecf0;
		span{ display:inline-block; width:200px; height:20px; background: url("../images/common/ico_total.png") no-repeat -317px -80px; padding:0 0 0 30px; }
		&:hover{ background-color: #d1d9e0; color:#444b52; border:2px solid $point-color; }
	}
	.product-adder{ padding:25px 0; }
}

.selection-mask {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	background-color: #000;
	@include opacity(.6);
	cursor: pointer;
	z-index: 20;
	
	.mask-close{
		width:30px;
		height:30px;
		margin:10px auto;
		background-image: url("../images/common/ico_total.png");
		background-position: -197px -40px;
		background-repeat: no-repeat;
		z-index: 100;
		@include opacity(1);

		&:hover{
			background-position: -227px -40px;
		}

	}
}

.carousel-inner{
	height:150px;
	margin:0;
	padding:0;
	background-color:$point-color;
	@include border-radius(10px 10px 0 0); 
	border:1px solid $point-color-line;
	color:#fff;
	
	.item{
		padding:0;
		margin:0;

		.container{
			border:1px solid #000;
		}
	}
	

}
.carousel-caption{
	top:-190px; left:0px; width:100%; text-align:left; text-shadow:none;
	padding:15px 0; margin:0;
	.item_view{
		font-size:22px; font-weight:bold; padding:0 0 0 20px;
		span{
			display:block; font-family: 'notokr-bold'; font-weight:normal; font-size:inherit; letter-spacing:-0.05em; text-shadow:none; margin:0 0 5px 0;
			&:first-child{ font-family: 'notokr-medium'; font-size:12px; }
		}
	}
	.item_view_down{
		font-weight:bold; font-size:18px; padding:0; margin:15px 0 0 0;
		div span{
			font-family: 'notokr-medium'; font-weight: normal; letter-spacing: -0.05em;
			&:first-child{
				display:block; font-weight:normal; color:#a2e0ff; font-size:12px; text-shadow:none; margin:0 0 5px 0;
			}
		}
		.in{
			display:inline-block; font-size: 12px; color:#a2e0ff;
			margin:0 5px 0 0;
			&:first-child{ display:none; }
		}
		.val + .in { margin:0 0 0 5px; }
		.prefix{
			display:inline-block; font-size: 12px; color:#a2e0ff;
			margin:0 10px 0 0;
		}
		.hide{ display: none; }
		
		.col-xs-2{
			padding:0 0 0 20px;
			width:159px;
			/*border-right:1px solid #77bdf1;*/
			border-left:1px solid #77bdf1;
			&:first-child { border-left:none; }
		}

		.col-xs-3{
			padding:0 0 0 20px;
			border-right:1px solid #77bdf1;
		}

		.col-xs-4{
			padding:0 0 0 20px;
			border-right:1px solid #77bdf1;
		}

		.col-xs-6{
			padding:0 0 0 20px;
			border-right:1px solid #77bdf1;
		}
		.num{
			font-size:24px;
			line-height:20px;
		}
		.last{
			border-right:none;
		}
	}
}

.carousel-indicators{
	top:-25px; height: 20px;

	li{
		background-color:#d6d9db;
		border-color:#d6d9db;
		margin: 0 2.5px;
		&.active { margin: 0 2.5px; }
	}
	.active{
		background-color:$point-color;
		border-color:$point-color;
	}
}

.carousel, .comparison_container{
	
	 .carousel-control{
		width:60px;

		&.left, &.right {
			border: none; background: none; 
			.glyphicon-chevron-left,.glyphicon-chevron-right{
				height:50px;
				width:60px;
				.glyphicon-chevron-left{
					background-image: url("../images/common/carousel-control-left.png");
					left:-45px;
				}
				.glyphicon-chevron-right{
					background-image: url("../images/common/carousel-control-right.png");	
					right:-55px;
				}
			}
		}
	}

	.left,
	.right{
		top:0;
		@include opacity(1);
		height:50px;
		margin:40px 0 0 0;
		background-position: 0px 0px;	
		background-repeat: no-repeat;	

		&:hover{
			background-position: 0px -50px;	
		}
	}

	.glyphicon-chevron-left,.glyphicon-chevron-right{
		height:50px;
		width:60px;
	}

	.glyphicon-chevron-left{
		background-image: url("../images/common/carousel-control-left.png");
		left:-45px;
	}

	.glyphicon-chevron-right{
		background-image: url("../images/common/carousel-control-right.png");	
		right:-55px;
	}

	
	.btn_close{
		display:block;
		position:absolute;
		top:0;
		right:0;
		width:30px;
		height:30px;
		background-image: url("../images/common/ico_total.png");
		background-position: -257px 0px;
		background-repeat: no-repeat; background-color: transparent; border: none;
		z-index:1000;

		&:hover{
			background-position: -287px 0px;
		}
	}

}

.carousel_down{
	position:absolute;
	top:150px;
	left:0;
	width:100%;
	height:40px;
	background-color:#44dfb1;
	@include border-radius(0 0 10px 10px);
	color:#fff;
	text-align:left;
	font-size:12px;
	padding:8px 0 0 0;

	span{
		display:block;
		margin:0 20px;
		background-image: url("../images/common/ico_total.png");
		background-position: -317px -223px;
		background-repeat: no-repeat;
		padding:3px 0 0 30px;
		height:20px;
	}
}

.modal-dialog{ position: absolute; top: 50%; left: 50%;	}
.modal-large{
	width:800px; margin-top: -380px; margin-left: -410px;
	.close{ left:810px; }
}
.modal-small{
	width:600px; margin-top: -250px; margin-left: -300px;
	.close{ left:610px; }
}
.modal-login { margin-top: -300px; }
.modal-branch-out { margin-top: -420px; }
.modal-cal { min-height: 700px; border-top: 10px solid #55acee; background: #e6ecf0 url("../images/common/bg_cal.png") repeat-y 0 0; }
.modal-branch { min-height: 700px; background-color: #fff; border-top: 10px solid #55acee;}

.modal-content {
	position: relative; padding: 0;
	@include border-radius( 0);
	.comm{
		overflow:hidden; padding:0; margin:7px 0;
		li{
			float:left; height:11px; color:#444b52; font-size:12px;	line-height: 1;
			background: url("../images/common/bg_comm.gif") no-repeat;
			background-position: right -1px; padding:0 10px;
			&.last { background:none; }
		}
	}

	.close {
    position: absolute;
    display: block;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url("../images/common/ico_total.png");
    background-position: -197px -40px;
    background-repeat: no-repeat;
    @include opacity(1); }
    &close:hover {
		background-position: -197px -40px;
      	@include opacity(1); 
	}
    &.close:active {
		background-position: -227px -40px;
		@include opacity(1); 
	}
	.modal-body {
    	padding: 0; 
    	.s_txt{
			font-size:12px;
			color:#999fa5;
			margin:0 0 0 30px;
		}
	}
	.modal-footer {
		text-align: center;
		padding: 15px 0 0 0;
		margin: 0 30px 20px 30px;
    	.btn{
			background-color: $point-color;
			color:#fff;
			border-color: $point-color-line;
			&:hover{
				background-color: $point-color-line;
				color:#fff;
			}
		}
	}
}
.modal-header{
	padding:0 0 10px 0; margin:30px auto 20px auto;
	.modal-title{ color: #333; font-size:18px; font-weight:bold; }
	span{ display:inline-block; color:#999fa5; font-weight:normal; font-size:14px; margin:0 0 0 20px; }
}
#loginModal {
	.modal-small { margin-top: -347px; }
	.modal-header { margin: 30px 30px 20px 30px; }
	.modal-body { margin-bottom: 70px; }
}

#product_add_popup{
	.modal-header{ margin: 30px 30px 20px 30px; }
	.product_add {
		.col-xs-6 { height: 62px; }
		.select-label { padding: 0; margin: 10px 0 0 0;  }
		.select-dropdown, .text-input { float: none; position: absolute; top:0; left:90px; width: 162px; }
		.text-input-normal { width: 162px; margin: 0; }
		.center_btn { text-align: center; }
		.btn-submit { margin:0 auto; }
		.select-dropdown.invalid + span { margin-top: 40px; }
	}	
}

#first-time-container {
	.modal-header { margin: 58px 30px 30px 30px; }
	.product_add .col-xs-5 { width: 245px; padding: 0; }
	.product_add .col-xs-2 { width: 86px; padding: 0; }
	.product_add .col-xs-10 { width: 450px; padding: 5px 0 20px 0; }
	.product_add .select-label { width: 66px; }
	.product_add .check-bottom { width: 16%; }
	.product_add .check-top1 { padding: 0; }
} 








/*20150111 add*/
.header_m5{ margin:30px 30px 5px 30px; }
.product_top{
	margin:0;
	font-size:12px;
	color:#999fa5;
	padding:0 30px 20px 30px;
	border-bottom:1px solid #d6dbdf;

	.product_top_view{
		overflow:hidden;
		margin:10px 0 0 0;

		.left{
			float:left;
			font-size:20px;
			font-weight:bold;
			padding:0 20px 0 0;
			color:#333;
		}

		.right{
			float:left;
		}
	}
	.desc { font-family: 'notokr-regular'; color:#999fa5; font-size:12px; }
	.summary-area{
		margin-top: 22px;
       	.info { 
       		float: left; width: 520px; 
       		.label-type { float: left; display: block; color: #333; font-size: 14px; margin: 0 10px 5px 0; }
       	}
		.dt-type { float: left; width: 80px; color: #333; font-size: 14px; margin-top: 4px; margin-right: 30px; }
		.dd-type, .info { 
			float: left; width: 440px; margin-top: 4px;
			span{
				display:inline-block;
				margin:0 10px 0 0;
				color:#999fa5;
			}
			ul{
				overflow:hidden;
				padding:0;
				margin:0 0 5px 0;
				li{
					float:left;
					margin:0 20px 0 0;
					padding:0;
					font-size:14px;
				}
			}
		}
		.btnGroup { 
			float: right; width: auto; /*min-width: 180px; */
			.btn { display: inline-block; width: 80px; height: 40px; text-align: center; padding: 9px 0; overflow: hidden; margin: 0 0 0 10px; }
		}
	}

	.row{
		color:#333;
		margin:30px 0 0 0;
		padding:0;

		.col-xs-1{
			padding:0;
		}
		.row .col-xs-7 {
     		width:55%; padding: 0; 
     	}
		.col-xs-8{
			padding:0;
		}

		.btn { margin: 0; }  
    	.val { color: inherit; }
		span{
			display:inline-block;
			margin:0 10px 0 0;
			color:#999fa5;
		}

		ul{
			overflow:hidden;
			padding:0;
			margin:0 0 5px 0;
		}
		li{
			float:left;
			margin:0 20px 0 0;
			padding:0;
			font-size:14px;
		}
	}

	table{
		width:100%;
		border-top:1px solid #d1d9e0;

		td{
			padding:15px;
			border-bottom:1px solid #d1d9e0;
			font-size:14px;
			color:#333;
		}

		.e_title{
			background-color:#e6ecf0;
			width:130px;
		}
	}
}

.branch_top {
  padding: 0 30px 10px 30px; border-bottom: 1px solid #d6dbdf; margin: 0; 
  .select-label { float: left; width: 100px; }
  .branch_top .dropdown-sy { float: left; margin: 0 10px 0 0; }
  .branch_top .row { margin: 0 0 10px 0; }
  .branch_top .col-xs-12 { padding: 0; }
}

.product_down{
	height:420px; background-color:#e6ecf0; margin:0;
	.in_tb{
		margin:10px 30px 10px 30px;
		caption { display: none; }
		table{ width:740px; }
		th.separation { background-color: #8e9499; }
		th { color: white; font-size:12px; line-height: 1; background-color:#999fa5; border-bottom: 1px solid #8e9499; padding: 14px 0 13px 19px; }
		td{ font-size:12px; line-height: 1; background-color:#fff; padding:14px 0 13px 20px; border-bottom:1px solid #e0e4e7; }
		.title{ width:130px; text-align: center; background-color:#999fa5; color:#444b52; }
		a { color: #428bca; }
		span{ display:block; color:#999fa5; margin:0 0 5px 0; }
		ul{ padding:0 0 0 15px; margin:5px 0 0 0; }
		.val { color: inherit; }
	    .list-title{ color: inherit; }
		.insure_tb{
			width:740px;
			th{ border-bottom:1px solid #8e9499; }
			thead th { text-align: center; padding: 14px 0 13px 0; border-left:1px solid #8e9499;}
			td{ text-align: center; padding: 14px 0 13px 0; border-bottom:1px solid #e0e4e7; border-right:1px solid #e0e4e7; }
			.hd{ width:50px; color:#fff; text-align:center; background-color:#999fa5; }
		}
		.insure_tb_return{
			width:740px;
			th { 
				color: #444b52; text-align:center; background-color: #d1d9e0; border-bottom: 1px solid #c1ccd5; border-left:1px solid #c1ccd5; 
				&:first-child { border-left:none; }
			}
			td{ 
				padding:14px 10px 13px 10px; text-align:center; border-bottom:1px solid #c1ccd5; border-right:1px solid #c1ccd5; 
				&:first-child { text-align:left; }
			}
			.last{ border-right:none; }
			.hd{ background-color:#d1d9e0; text-align:center; }
			.txt_left{ text-align:left; }
		}
		.down{ font-size:12px; line-height:20px; padding:0 ; margin:10px 0 10px 0; }
		.e_list {
			width:740px; border-top:1px solid #c1ccd5;
			td{	text-align:center; font-size:14px; padding:13px 20px; border-bottom:1px solid #c1ccd5; border-right:1px solid #c1ccd5; }
			.last{ border-right:none; }
			.hd{ background-color:#d1d9e0; text-align:center; }
			.w_110{ width:110px; }
		}
	}
	.gray-scroll-in{ padding:20px 0 ; }
}

#gray-scroll {
	overflow-y: auto;
}



.bg_w{ min-height:300px; height: 100%; background-color:#fff; }
.product_add{
	margin:0 30px 30px 30px;
	.row{ padding:0; margin:0; }
	.text-input-normal{ float:none; width:150px; margin:0 0 0 25px; }
	.select-label{ width:90px; }
	.col-xs-8,.col-xs-6,.col-xs-2,.col-xs-12{ padding:0; }
	.col-xs-2{ width:90px; }
	.select_bn{
		padding:0;
		.dropdown-sy,.select-label,.text-input-normal{ float:left; margin:0 5px 5px 0; }
		.select-label{ height:100px; margin:10px 30px 0 0; }
	}
	.txt{ color:#999fa5; font-size:12px; }
	.slider_out_pop{
		overflow:hidden;
		.left{ float:left; width:120px; height:60px; padding:5px 0 0 0; }
		.right{ 
			float:left; width:410px; height:60px;
			ul{
				position:absolute; top:127px; left:120px; width:470px;
				font-size:12px; padding:0; margin:0; overflow:hidden;
			}
			li{
				float:left; width:94px; color:#d1d9e0; text-align:center;
				background: url("../images/common/ico_total.png") no-repeat -135px -100px; padding:5px 0 0 0;
				margin:0;
			}
			.select{ color:#333 }
		}
	}
	.radio_normal{ margin:0 20px 0 0; }
}

#first-time-container {
	.modal-header{
		min-height: 19px; padding: 0 0 8px 0; margin: 58px 30px 30px 30px; border-bottom:none;
		.modal-title { font-family: 'notokr-medium'; font-weight: normal; line-height: 21px; text-align: center; }
	}
	.modal-body{ width: 600px; }
	.product_add { 
		padding: 0 30px 30px 30px; margin: 0; 
		.txt { font-family: 'notokr-regular'; line-height: 13px; text-align: center; margin:0 0 39px 0; }
		.check-top1 { margin-left: 5px; }
		.row { margin-bottom: 10px; }
		.col-xs-5 { width: 270px; height: 45px; padding: 0; margin:0; }
		.col-xs-5.col-xs-offset-1 { 
			margin: 0; 
			.select-label { width: 106px; text-indent:15px; }
			.text-input-normal { width: 162px; text-align: right; padding: 5px 30px 5px 10px; margin: 0; }
		}
		.select-label { width: 91px; line-height: 1; margin: 10px 0 0 0; }
		.select-label, .select-label + div { float: left; }
		.select-dropdown { width: 162px; }
		.col-xs-10 { width: 448px; height: 45px; padding: 0; margin-top:6px;}
		.check-bottom { 
			float: left; width: 64px; margin-left: 0; 
			&:first-child { width:120px; margin-left:0; }
			& > span { padding: 0; }
			label { 
				font-size: 14px; color:#4d9bd6; padding-left: 9px; 
				span { width: 100%; padding: 2px 0 0 15px; }
			}
		}
		.center_btn { 
			text-align: center; margin-top: 25px;
			.btn-submit { margin-bottom: 0; }
		}
		.income input {
			padding-right: 45px !important;
		}
		.validation-msg {
			font-size: 11px;
		}
	}
}

.car_list{
	text-align:center;
	padding-top: 32px;
	padding-bottom: 50px;
	.notice{ display:inline-block; font-size:12px; color:#999fa5; }
	.blue{ color:$point-color; }
	table{
		width:800px;  border:1px solid #e1e7eb; border-top:none; margin:7px auto 0;
		caption { display: none; }
		thead { 
			th { color: white; font-family: 'notokr-regular'; font-weight: normal; font-size: 16px; text-align: center; background-color: #999fa5; padding: 17px 0; border-left:1px solid #e0e4e7; }
		}
		tbody tr td{
			text-align:left; background-color:#fff; border-left:1px solid #e0e4e7; border-bottom:1px solid #e0e4e7; padding:10px 20px; 
			&:first-child { text-align:center; border-left:none; }
			p { margin: 0; }
			span { color: #666; font-size: 0.9em; }
		}
	}
}

.product_top_card{
	margin:0;
	font-size:12px;
	color:#999fa5;
	padding:0 30px 30px 30px;
	border-bottom:1px solid #d6dbdf;
	
	
	.product_top_view_card{
		
		overflow:hidden;

		.left{
			float:left;
			padding:0;
		}

		.right{
			float:left;
			padding:0 0 0 30px;
			font-size:20px;
			font-weight:bold;
			color:#333;

			span{
				font-size:12px;
				color:#999fa5;
				display:block;
				font-weight:normal;
			}
		}  
		
		.comm_benefit{
			position:static;
		}

		
		

	}

	.right_ico{
		position:static;

	}

	.col-xs-6{
		padding:0 0 0 40px;
	}

	.col-xs-8{
		padding:10px 0 0 10px;
	}

	.col-xs-4{
		padding:40px 0 0 0;
	}

}



.card-select-out{
	height:40px;

	.title{
		float:left;
		width:78px;
		padding:10px 0 0 0;
	}

	.title2{
		float:left;
		width:110px;
		padding:10px 0 0 20px;
	}
	.form{
		float:left;
		width:150px;
	}
}


.currency-box{
	float:right; width: auto; max-width:711px; background-color:#e0e4e7; padding:7px 0 6px 0; margin:0; overflow:hidden; 
	li{
		float:left; width:101px; font-size:12px; border-left:1px solid #d9dcde; padding:0 0 0 15px; margin:0;
		&:first-child { border-left:none; }
		span{ 
			display:block; color:#999fa5; line-height: 1; 
			&:first-child { margin-bottom:3px; } 
		}
		.val { color: #444; }
	}
}

.currency-right{
	float:left;
	padding:0;
	margin:0;
	height:40px;
	span{ display:inline-block; font-size:13px; margin:13px 0 0 0; }
	.currency_btn{
		display:inline-block;	
		width:40px;
		height:40px;
		border:1px solid #e0e4e7;
		background-image: url("../images/common/ico_total.png");
		background-position: -135px -150px;
		background-repeat: no-repeat;

		&:hover{
			background-position: -135px -190px;
		}
	}
	ul{
		overflow:hidden;
		margin:0;
		padding:0;
	}
	li{
		float:left;
		padding:0 10px 0 0;
	}

}



body#interest, body#mypage, body#service-info { 
	background: url("../images/common/bg_sub_my.gif") repeat-x; 
	.footer{  }
}


.mypage-out{
	width:950px; /*min-height: 540px;*/
	overflow:hidden;
	margin:152px auto 50px;

	.mypage-left{
		float:left;
		width:180px;

		h2{
			font-size:22px;
			font-weight:bold;
			margin:0;
			padding:0 0 0 20px;
		}

		.panel-group{ padding:0; border-top:1px solid #f2f2f2; margin:36px 0 0 0; }
		.panel{ padding:0; margin:0; }
		.panel-default{ padding:0; border:none; margin:0; }
		.panel-heading{
			border-top:none; border-bottom:1px solid #f2f2f2; background-color:#fff; padding:0; margin:0;
			.panel-title{			
				font-size:14px; padding:0; margin:0;
				a {
					display:block; width:100%; height:50px;	font-family: 'notokr-medium'; text-indent: 19px; line-height: 3.8em;
					background: url("../images/common/check-down.png") no-repeat 145px 18px;
					
				}	
			}
			.none a{ background-image: none; }
			.select a { color:#4d9bd6; }
		}

		.panel-body{
			position:relative; background-color:#f5f7f9;
			.carat{ display: none; position:absolute; top:-36px; left:145px; width:20px; height:20px; background: url("../images/common/check-up.png") no-repeat 0 0; }
			ul{ padding:0; margin:0 0 0 10px; }
			li{
				line-height:1; margin-top: 14px; 
				&:first-child { margin-top:0; }
				a { color:#999fa5;  
					&:hover{ color:#333; }
				}
				&.select{ color:#333;  a { color: #4d9bd6; }}
			}
		}

		.panel-group .panel-heading + .panel-collapse > .panel-body,
		.panel-group .panel-heading + .panel-collapse > .list-group {
	        padding: 20px 0 20px 19px; border-top: 1px solid #e6ecf0; border-bottom: 1px solid #e6ecf0; margin-top: -1px;
		}
		.panel-group .panel + .panel { margin-top: 0px; @include box-shadow( none);}
	}

	.mypage-right{
		float:right; width:730px;
		table caption { display: none; }
		table tbody th { 
			font-weight: normal; text-indent: 20px; background-color: #e6ecf0; border-bottom:1px solid #d1d9e0; 
			label { text-indent: 0; }
		}
		h3{ font-family: 'notokr-regular'; font-weight:normal; font-size:18px; padding:0; margin:5px 0 0 0; }
		.right_btn { 
			float: right; width: auto; margin-top: 10px;
			.btn { width: 80px; height: 40px; text-align: center; line-height: 1.8; padding: 8px 0; }
		}

		.mypage_top_sort{
			padding:0; margin:10px 0 0 0; overflow:hidden;
			li{
				float:left; background: url('../images/common/bg_utill_mypage.png') no-repeat center left; padding:0 15px;
				a:hover{ color:$point-color; }
				&:first-child { background: none; }
			}
			.last{ background-image: none; }
			.first{ padding:0 15px 0 0;	}
			.select{ color:$point-color; }
		}
		.mypage_top_sort_out{ width:655px; height:50px; }
		.mypage_top_sort_left{ float:left; }
		.mypage_top_sort_right{
			float:right; padding:10px 0 0 0;
			.dropdown-sy{
				float:left; width:70px; height:30px; padding:3px 15px;
				div { width:70px; }
				.carat, .carat:after{ top: 10%; }
			}
			.s_right_txt{ display:inline-block; margin:5px 0 0 10px; }
		}
		.top_select{
			height:50px; background-color:#e6ecf0; padding:9px 10px; border-top:1px solid #d1d9e0; margin:5px 0 20px 0;
			.row { 
				width: 730px; height: 31px; margin:0; 
				.check-top1 { 
					padding: 6px 0 0 2px; 
					.check-bottom span { padding: 5px 0 0 0; } 
				}
			}
		}
		.col-xs-1{ width:25px; padding:0; .check-top1 { padding: 0; } }
		.col-xs-8,.col-xs-11,.col-xs-6,.col-xs-4{ padding:0; }
		.col-xs-7{ width: 62%; font-size:12px; padding:7px 10px 0 0; }
		.result_box{
			position:relative; height:150px;
			padding:17px 14px; border:1px solid #e0e4e7;
			@include border-radius(10px);
			@include box-shadow( 2px 1px 3px #d3dadf);
			margin:0 0 10px 0;  
			.row { 
				width: 698px; height: 114px; margin: auto; 
				.col-xs-11 { width: 673px; height: inherit; }
			}
			.check-top span { padding-left: 0; }
			.txt_small{ display:inline-block; color:#999fa5; font-size:12px; margin:0; }
			h3{ font-family: 'notokr-medium'; font-size:22px; line-height: 1; margin:5px 0 0 0; }
			.down{
				height: 50px; font-weight:normal; font-size:18px; line-height:1; margin:12px 0 0 0;
				.pr{ display:inline-block; color:#999fa5; font-size:12px; font-weight:normal; line-height: 1; margin-bottom: 12px; }
				.col-xs-6{ padding:0 0 0 25px; border-left:1px solid #e0e4e7; }
				.none{ height:inherit; padding:0; border-left:none; }
				.num2{ height:inherit; font-size:18px; }
			}
		}

		.result_box_none{
			height:370px;
			padding:96px 0 0 0;
			text-align:center;
			line-height:40px;
			h3{ font-family: 'notokr-regular'; font-size:22px; letter-spacing: -0.03em; line-height: 1; }
			span{ color:#999fa5; font-size:16px; letter-spacing: -0.03em; }
			.btn_go {
				width:100%; text-align:center; margin:21px auto 0;
				span {
					display:inline-block; width:30px; height:30px; background-color:$point-color;
					@include border-radius(30px);
					margin:0; vertical-align: middle;
				}
				a {
					display:inline-block; width:auto; height:30px;
					text-align:left; color:$point-color; font-size:16px; font-weight:bold; line-height:32px; text-indent: 10px;
					background: url("../images/common/ico_right.png") no-repeat center right;
					padding:0 20px 0 0; vertical-align: middle;
				}
			}
		}
		.btn_close{
			position:absolute; top:-18px; right:-20px; display:block; width:30px; height:30px;
			background: url("../images/common/ico_total.png") no-repeat -287px 0px;
			&:hover{ background-position: -257px -70px; }
		}
		.r_btn{	
			position:absolute; top:20px; right:20px; width: 80px; height: 40px; 
			.btn { width: 78px; height: 38px; text-align: center; padding: 9px 0; }
		}
		/*mypage - 1:1 inquire*/
		.input-box{
			margin:36px 0 0 0;
			table{
				width:100%; color: #444; font-family: 'notokr-regular'; border-top:1px solid #d1d9e0; 
				td{ 
					height:50px; padding:10px 0 10px 20px; border-bottom:1px solid #d1d9e0; 
					&.td_w130 { width: 130px; text-indent: 20px; background-color: #e6ecf0; }
					&.ti15 { text-indent: 15px; }
				}
				thead .title2{ color: #444; background-color:#e6ecf0; padding:0 20px; border-bottom: none; }
				.list_none{ height:385px; font-size:22px; text-align:center; }
				.right2{ padding:0 20px; span { line-height: 2.3; } }
			}
			.dropdown-sy{
				float:left; width:164px; height: 30px; padding: 9px 15px 5px 19px; line-height: 1;
				.carat { background-position-y: -3px; }
				div{ width:164px; }
			}
			.text-input-normal{ float:left; width:580px; height: 30px; padding: 7px 30px 5px 19px; }
			.text-area{ width:580px; padding: 15px 19px; }
			

			.btn_close{ position:static; margin:0 auto; }
			.bottom_link{
				float:left; font-size:12px; line-height: 1; padding:10px 0 0 0;
				a{ display:inline-block; color:$point-color; margin:0 0 0 10px; }
			}
			&.chnage-my-info {
				td.right2 { padding-right: 0; }
				.right_btn { float: right; }
			}
		}

		.input-box-edit{
			.text-input-normal{ width:162px; height: 28px; }
			.dropdown-sy{ width: 162px; height: 28px; padding: 4px 15px; margin-right:5px; }
			.dropdown-sy .carat, .dropdown-sy .carat:after { top:13%; }
			.check-bottom{ width:auto; }
			.check-top1{ padding:0; }
			&.writeLayer { .text-input-normal{ width:162px; height: 28px; } }
		}

		.password-box{
			width:300px; text-align:center; margin:50px auto 0;
			h3{ line-height:26px; }
			.text-input-normal{ float:none; width:100%; margin:25px 0 0 0; }
		}
		.event-box{
			position:relative; width:100%; margin:0 0 20px 0;
			.event_btn{ position:absolute; left:30px; bottom:30px; }
		}
		.search_box{
			width:370px;
			height:50px;
			margin:30px auto;

			.text-input-normal{
				width:327px;
				border-right:none;
				float:left;
			}
			.search_btn{
				float:left;
				display:block;
				width:40px;
				height:40px;
				background-color:$point-color;
				border:1px solid $point-color-line;
				background-image: url("../images/common/ico_total.png");
				background-position: -135px -230px;
				background-repeat: no-repeat;

				&:hover{
					background-color:$point-color-line;
				}
			}

			.dropdown-sy{
				float:left;
				border-right:none;
			}
		}
		.wide{ width:520px; }
		.list_top{
			height:50px; background-color:#e6ecf0; padding:15px 20px; border-top:1px solid #d1d9e0;
			.date{ font-size:14px; }
		}
		.num{ float:left; width:50px; font-size:14px; }
		.title{ float:left; width:430px; font-size:14px; }
		.num_w{ float:left; width:100px; font-size:14px; padding:0 0 0 25px; }
		.title_w{
			float:left;
			width:550px;
			font-size:14px;
		}

		.date{
			float:left;
			font-size:12px;
			width:170px;
			padding:2px 0 0 0;
			text-align:center;
		}
		.list_in{ margin:10px 70px; }
		.panel-group{ padding:0; margin:0; }
		.panel{ padding:0; margin:0; }
		.panel-default{		
			margin:0;
			padding:0;
			border:none;
		}
		.panel-heading{
			background-color:#fff; padding:0; border-top:none; border-bottom:1px solid #f2f2f2; margin:0; 			
			.panel-title{			
				font-size:14px; padding:0; margin:0;
				a{
					position:relative; display:block; width:100%; height:50px;	
					background: url("../images/common/check-down.png") no-repeat 690px 18px; padding:18px 20px;	
					&:hover{ background-color:#e6f4fa; }
				}
			}
			.none a{ background-image: none; }
			.select a{
				background-color:$point-color; color:#fff;
				&:hover{ background-color:$point-color; color:#fff; }
				.blue{ color:#fbf0a7; }
			}
			.notice a{
				color:$point-color;
				.date{ color:#333; }
			}
		}
		.panel-body{
			position:relative; background-color:#f5f7f9;
			.carat{
				position:absolute; top:-36px; left:690px;  width:20px; height:20px;
				background: url("../images/common/check-up.png") no-repeat 0 0;
			}
			ul{ padding:0; margin:0 0 0 17px; }
			li{
				line-height:30px;
				a{
					color:#999fa5;
					&:hover{ color:#333; }
				}
				.select{ color:#333; }
			}
		}

		.panel-group .panel-heading + .panel-collapse > .panel-body,
		.panel-group .panel-heading + .panel-collapse > .list-group {
			border-top: 1px solid #ddd; border-bottom: 1px solid #f2f2f2;
		}
		.panel-group .panel + .panel { margin-top: 0px; }
		.notice_box{ padding:50px 0 0 0; }
		.faq_box{
			.col-xs-7{ font-size:14px; padding:30px 0 0 20px; }
			.pagination{ margin:20px 0 0 0; }
		}
	}
}

.mypage-out .mypage-right #face-to-face {
	padding: 37px 0 0 0;
	.list_top { text-align: center;
		.ques-type { float: left; width: 84px; }
		.title { float: left; width: 332px; }
		.date { float: left; width: 89px; }
		.status { float: left; width: 95px; }
		.delete { float: left; width: 56px; }
		.blank { float: left; width: 75px;}
	}
	.panel-heading .notice a {
		text-align: center; color: #444; font-size: 14px; background-image: url("../images/common/check-up-col.png");
		span, button { float: left; }
		.type { width: 84px; }
		.title { display: inline-block; width: 332px; text-align: left; }
		.date { width: 89px; font-size: 14px; }
		.ask-status { width: 95px; color: #4d9bd6; }
		.btn-area { width: 56px; margin-top: -8px;
			.btn-delete {
				width: 55px; height: 30px; color:#fff; background-color: $point-color; padding: 9px 0; border: 1px solid #4d9bd6;
				&:hover{ color:#fff; background-color: $point-color-line; }
			}
		}
		&.collapsed { background-image: url("../images/common/check-down.png"); }
	}
	.panel-heading { border-bottom: none; }
	.panel-body {
		font-size: 12px; padding: 0 30px;
		.event_out { width: 100%; padding: 30px 0 30px 80px; margin: 0 auto; }
		.answer { width: 100%; color: #4d9bd6; padding: 30px 0 30px 80px; border-top: 1px solid #d1d9e0; margin: 0 auto; }
	}
}


.mypage-out .mypage-right #faq{
	.subTitle { color: #333; font-family: 'notokr-medium'; font-weight: normal; font-size: 14px; line-height: 1; margin: 9px 0; }
	.list_top {
		text-align: center; line-height: 1; padding: 18px 0;
		.sort-th { display: inline-block; width: 101px; }
		.ques-th { display: inline-block; width: 629px; }

		&.notice-header {
			.number { float: left; width: 80px; }
			.subject { float: left; width: 486px; }
			.date { float: left; width: 89px; }
			.blank { float: left; width: 75px; }
		}
	}
	.panel.select .panel-heading{ 
		background-color: #55acee; color: white; 
		.panel-title a, .panel-title a:hover { color: white; background: url("../images/common/check-up.png") no-repeat 97.2% 15px; }
	}
	.panel-title a { 
		color: #444; padding: 18px 0 19px 0; 
		p { margin: 0; }
		.num { width: 101px; text-align: center; }
		.title { width: 629px; .emp { color: #4d9bd6; } }
	}
	/*customer center - noticeBoard*/
	.notice-board .panel-title {
		.num { width: 80px; }
		.title { width: 486px; }
		.date { width: 89px; color: inherit; }
		.blank { width: 75px; }
	}

	.panel-body { 
		padding: 30px 30px 30px 110px; border-top: none;
		.event_out { width: 670px; color: #444; font-size: 12px; }
	}
	.inqury { 
		p { float: left; line-height: 2.9; margin:0; }
		a { 
			float: right; width: 100px; height: 40px; color:#fff; background-color: $point-color; padding: 9px 0; border-color: $point-color-line;
			&:hover{ color:#fff; background-color: $point-color-line; }
		}
	}
}




.count_out{ overflow:hidden; }
.event_down_popup{
	overflow:hidden;
	padding:30px 15px 0 0;

	.event_down_left{
		float:left;
	}

	.event_down_right{
		float:right;
		padding:20px 0 0 0;
	}
}

.event_out{
	width:550px;
	margin:0 auto;

	
	
	.event_view{
		font-size:12px;	

		span{
			display:block;
			@include border-radius(30px);
			background-color:$point-color;
			color:#fff;
			text-align:center;
			padding:2px 0 3px 0;
		}

		.row{
			margin:0 0 30px 0;
		}

	}

}

.event_tb{
	padding:0 10px;
	
	table{
		width:100%;

		th{
			border-bottom:1px solid #d1d9e0;
			font-size:12px;
			color:#999fa5;
			padding:5px 0;
			font-weight:normal;
		}

		td{
			padding:15px 0;
		}
		.first{
			width:485px;
			padding:0 0 0 45px;
		}
		.second{
			width:85px;
		}
	}

	.btn-submit-round{
		padding:9px 15px;
		
	}
}


.event_win_down{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	padding:5px 0 50px 0;

	h1{
		font-size:50px;
		font-weight:bold;
		letter-spacing:-5px;
	}

	span{
		font-size:12px;
		color:#999fa5;
		font-weight:normal;
		display:block;
		margin:20px 0 0 0;
	}
}



/*20150112 19hour add*/
.form-signin {
	width: 330px;
	margin: 35px auto 0;

	.text-input-normal {
		position: relative;
		height: auto;
		width:100%;
		height: 50px;
		padding:7px 15px;
		font-size:14px;

		&:focus {
			ime-mode:disabled; z-index: 2;
			border:1px solid $point-color; 
			@include box-shadow(0 0 0 #fff);
		}
	}

	input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;	
	}

	input[type="password"] {
		margin-bottom: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.btn-submit{
		width:100%; height:50px;
		font-weight:bold; font-size:16px; line-height: 1.3; padding:15px 0; margin:30px 0 0 0;
	}

	.login-external {
		/*padding: 29px 0 0 0;*/ 
		padding: 0; /*for notebook*/
		.btn { width:100%; height:50px; font-family: 'notokr-medium'; font-size:16px; font-weight:normal; line-height: 1.3; padding:15px 0; margin-bottom: 5px;  }
		
		.btn-submit-facebook {
			background-color: #4866a8;
			color:#fff;
			border-color: #3a5387;

			&:hover{
				background-color: #3a5387;
				color:#fff;
			}
		}

		$color-kakao: #fff000;
		.btn-submit-kakao {
			background-color: $color-kakao;
			color: #333;
			border-color: darken($color-kakao, 5%);

			&:hover{
				background-color: darken($color-kakao, 5%);
			}
		}
		
	}
}

.login_top_logo{ width:237px; height:58px; background: url("../images/common/ico_total.png") no-repeat 0px -270px; /*margin:99px auto 0;*/ margin: 50px auto 0; }
.login_bottom{
	text-align:center;
	padding:10px 0 27px 0;
	border-bottom:1px solid #e0e4e7;
	font-size:12px;
	a{
		display:inline-block; color:#333; padding:0;
		&:hover{ color:$point-color; }
	}
	.dv { display: inline-block; color: #444b52; padding:0 12px; }
	.blue{ color:$point-color; }
}

.login_bottom_none{ border-bottom:none; }

.btn-submit-facebook {
	width:100%; height:50px; color:#fff; font-family: 'notokr-medium'; font-size:16px; font-weight:normal; line-height: 1.3;
	background: #4866a8 url("../images/common/bg_facebook.png") no-repeat 19px 13px; padding:15px 0; border-color: #3a5387; margin-top: 29px; margin-bottom: 17px;
	&:hover{ background-color: #3a5387; color:#fff; }
}




.btn_calender{
	width:40px;
	height:40px;
	background-color:#fff;
	border:1px solid #e0e4e7;
	background-image: url("../images/common/ico_total.png");
	background-position: -317px -456px;
	background-repeat: no-repeat;

	&:hover{
		background-color:$point-color;
		border-color:$point-color;
	}
	
}

.disabled{
	background-color:#d1d9e0;
	border-color:#c1ccd5;
	cursor: not-allowed;

	&:hover{
		background-color:#d1d9e0;
		border-color:#c1ccd5;
	}
}



.main2_down{	
	position:relative;
	min-height:400px;

	.box_out{
		overflow:hidden;

		.product_box{
			float:left;
			width:310px;
			height:310px;
			background-color:#fff;
			@include box-shadow( 1px 2px 2px #d3dadf);
			margin:5px;
			position:relative;

			.box_top{
				width:100%;
				height:60px;
				background-color:#f5f7f9;
				padding:15px;

				.ico{
					float:left;
					width:30px;
					height:30px;
					background-image: url("../images/common/ico_main.png");
					background-repeat: no-repeat;
				}
				.saving{
					background-position:0px 0px; 
				}
				.deposit{
					background-position:-30px 0px; 
				}
				.installment{
					background-position:-60px 0px; 
				}
				.MMDA{
					background-position:-90px 0px; 
				}
				.subscription{
					background-position:-120px 0px; 
				}

				.ico-loan{
					background-position:0px -30px; 
				}
				.credit-loan{
					background-position:-30px -30px; 
				}
				.secured-loan{
					background-position:-60px -30px; 
				}
				.fitted-loan{
					background-position:-90px -30px; 
				}

				.ico-insurance{
					background-position:0px -60px; 
				}
				.variable-insurance{
					background-position:-30px -60px; 
				}
				.death-insurance{
					background-position:-60px -60px; 
				}
				.pension-insurance{
					background-position:-90px -60px; 
				}
				.car-insurance{
					background-position:-120px -60px; 
				}
				.new-insurance{
					background-position:-150px -60px; 
				}
				.own-insurance{
					background-position:-180px -60px; 
				}

				.ico-card{
					background-position:0px -90px; 
				}
				.credit-card{
					background-position:-30px -90px; 
				}
				.check-card{
					background-position:-60px -90px; 
				}

				.ico-P2P{
					background-position:0px -120px; 
				}
				.P2P-investment{
					background-position:-30px -120px; 
				}
				.P2P-loan{
					background-position:-30px -120px; 
				}

				.ico-currency{
					background-position:0px -150px; 
				}




				.r-title{
					float:left;
					font-weight:bold;
					font-size:16px;
					margin:4px 0 0 7px;
				}
			}

			.box_down{
				padding:15px 17px;

				.d-title{
					font-size:20px;
					font-weight:bold;
					margin:5px 0 0 0;
				}

				.d-comm{
					font-size:12px;
					color:#999fa5;
				}

				.b-comm{
					position:absolute;
					bottom:10px;
					left:17px;
					width:275px;

					.d-comm{
						font-size:14px;
					}
					.d-num{
						font-size:50px;
						margin:0 5px;
					}
					.d-num-small{
						font-size:30px;
						margin:0 5px;
					}
					.b-comm-ft{
						text-align:right;
					}

				}

			}

		}
		.last{
			margin:0 0 10px 0;
		}
	}
}

.sy_tooltip{
	position:absolute;
	top:17px;
	left:-65px;
	z-index:2;

	span{
		display:block;
		margin:0 auto;
		width:14px;
		height:7px;
		background-image: url("../images/common/tooltip_arrow.png");
	}
	.in{
		background-color:#444b52;
		@include border-radius(5px);
		padding:15px;
		color:#fff;		
		font-size:12px;

		ul{
			padding:0 0 0 20px;
			margin:0;
		}

		li{
			list-style-type:disc;
			padding:0;
			margin:0;
		}
	}
}




/* 2015.01.15 add */
.bottom_view{
	z-index:2; width:800px; height:31px;
	background-color:#778491;
	font-size:13px; font-weight:bold; color:#fff; line-height: 2.6;
	padding:0; overflow:hidden; margin:0 auto;
	
	&.gain{ 
		background-color:#37d49a; 
		span { color: #21805d !important; background-position: 0 0 !important; }
		.plus { background-image: url("../images/common/icon_po-plus.png") !important; }
		.minus{ background-image: url("../images/common/icon_po-minus.png") !important; }
	}
	&.loss{ 
		background-color:#f58c87; 
		span { color: #8a4f4c !important; background-position: 0 0 !important; }
		.plus { background-image: url("../images/common/icon_ne-plus.png") !important; }
		.minus{ background-image: url("../images/common/icon_ne-minus.png") !important; }
	}
	.left{ float:left; color: white; padding:0; margin-left: 20px; }
	.cmpr-box {
		float: right;
		.choice-item {
			display: inline-block; height: 30px;
			ul{ 
				padding:0; overflow:hidden; margin:0 25px 0 0;
				li{
					float:left; height: 30px; padding:0; margin:0;
					span{ color:#c0cddb; font-weight:normal; font-size: 14px;  vertical-align: middle; }
					.plus,.minus{
						display:inline-block; width:18px; height:20px; text-indent: -999em;
						background-image: url("../images/common/ico_total.png");
						padding:0 10px; margin:-2px 10px 0 10px;
					}
				}
			}
			.plus{ background-position: -317px -245px; }
			.minus{	background-position: -317px -265px; }
		}
	}	
	
}


#product_add_popup .product_add .select-dropdown, #product_add_popup .product_add .text-input {
	width: 95%;
}

#product_add_popup .product_add .text-input-normal {
	width: 100%;
}

#concern-msg {
  display: block;
  position: fixed;
  right: -250px;
  bottom: 100px;
  width: auto; min-width: 225px;
  z-index: 1050;
  height: auto; color: #55acee; background: #f5f7f9; padding: 20px; @include box-shadow( 1px 3px 3px #d3dadf);
  @include transition(.25s right ease);

  &.slideIn{
  	right: 0;
  }
  p { margin: 0; }
}

body#card {
	.col-md-12 { 
		height: auto; min-height: 40px; padding: 0; margin-bottom: 10px;
		.select-label { 
			float:left; width:89px; font-size:13px; padding:14px 0 0 0; margin:0;
		}
		.select-label + div {
			float:left;
			width:711px;
		}
	}
	.multi-select-dropdown.invalid + span { color: #fa365c; font-family: 'notokr-regular'; font-size: 12px; }

	.helper-wrap{
		.text-input-normal { text-align: right; padding: 5px 40px 5px 10px; }
		.text-input .unit { right: 10px; }
	}
	.nav-tabs-gray { display: none; }
	.content_box {
		.left_logo { 
			top:57px; left:25px; width: 170px; height: 107px; overflow: hidden; 
			img { width: inherit; height: auto; }
		}
		.get_profit {
			width: 345px; bottom: 20px;
			li { 
				width: 230px; height: 20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; 
				&.odd { width: 70px; }
			}
		}
		.description .hcopy { margin-top: 5px; color: #999fa5; line-height: 1; font-size: 12px; margin: 0;  }
		.comm {
			position: absolute; left:380px; bottom: 25px; width: 100%; padding: 0; margin: 0;
			li {  
				float:left; border: none; margin-right: 15px;
				.benefit { 
					width:40px; color:#666; font-size: 10px; text-align: center;
					i { display: block; width: 40px; height: 29px; font-size: 20px; padding: 0; vertical-align: middle; }
					span { line-height: 1.5; }
				}
			}
		}
		.tooltip { max-width: 140px; }

	}

	/*card detail modal add : because different layout*/
	.card-top { position: relative; }
	.product_top_view { 
		float: left; width:172px; margin: 0;
		img { width: 172px; height: auto; }
	}
	.summary-area {
		float: left; width: 540px; margin: 0 0 0 25px;
		.card-name { font-family:'notokr-medium'; color: #333; font-size: 20px; line-height: 1; margin-bottom: 10px; }
		.card-copy { font-family:'notokr-regular'; color: #999fa5; font-size: 12px; line-height: 1;  }
		.dt-type { clear:both; }
		.dt-type:first-child, .dd-type:first-child { margin:10px 0 0 0; }
		.dt-type, .dd-type { color:#444b52; font-family:'notokr-regular'; font-size:14px; line-height: 28px; margin: 0; }
		.dd-type { 
			width: 245px; 
			ul { 
				margin:0; 
				li {  margin: 0; 
					span { color: inherit; font-size:inherit; margin:0; }
				}
			}
		}
		.btnGroup { float: none; position: absolute; bottom: 6px; right: 0; }
	}
	.benefit-txt { line-height: 1; color: #333; font-size: 18px; }
	.benefit-item {
		font-family:'notokr-regular';
		.h_tit {
			position:relative; width: 100%; height: 50px; color: white; background-color: white; cursor: pointer; border-bottom: 1px solid #f5f7f9;
			i { position:absolute; top:12px; left:30px; color: #444; font-size: 1.7em; }
			.bft-copy { 
				position:absolute; top:19px; left:80px; width: 580px; color: #444; font-size: 14px; line-height: 1; 
			}
			.arr {
				position:absolute; top:21px; right:28px; width: 14px; height: 8px; overflow: hidden; background: url("../images/common/arr_updown.png") no-repeat; text-indent: -999em;
			}
		}
		.cont { 
			display:none; width:100%; background-color:#f5f7f9;  padding: 30px 50px; 
			table { width: 608px; }
		}

		&.select, &:hover {
			.h_tit {
				background-color:#55acee;
				i { color: white; }
				.bft-copy { color: white; }
				.arr { background-position-y: -8px; }
			}
		}
		&.select .cont { display: block; }
	}


	.tab-content .modal-dialog .row { width: 538px; }
	.modal-dialog .product_add .select-label { width: 120px; }
	.modal-dialog .product_add .select-label.mon_avr { margin-top: 2px; }
	.modal-dialog .col-xs-6 { width: 42%; }
	#product_add_popup .product_add .select-dropdown, #product_add_popup .product_add .text-input { left:100px; }
	.modal-dialog .dropdown-options li span { display: inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
	.carousel-caption .item_view_down .col-xs-4 .val { display: inline-block; width: 93%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

	.col-md-12:first-child .multi-select-dropdown .select-top + .card-dropdown-options .benefit { margin-left: 1px; }
	.col-md-12:first-child .multi-select-dropdown .select-top + .card-dropdown-options li { 
		width: 177px; 
		&.selected {
			border:1px solid #eceded; border-top:none; border-left:none;
			a {
				color:#fff; background-color:transparent;
				&:hover {
					border:none;
				}
			}
		}
		&:hover { border:1px solid #eceded; border-top: none; border-left: none; }
		a{
			padding: 29px 0;
			&:hover {
				background-color: transparent; color: #444b52; border: inherit; border-right: none; line-height: inherit;	
			}
			i { width: 150px; height: 30px; }
			span { text-indent: -999em; }
		}
	}

	.multi-select-dropdown .card-dropdown-options .benefit li {
	    i { display:inline-block; width: 30px; height: 30px; font-size: 30px; line-height: 1; }
	}
}


#savings, #loan {
	.comparison_view { padding-bottom: 32px; }
}

#savings {
	.description {
		.comm + div, h4 + div { color: #999fa5; font-size: 12px; }
	}
	.modal-content .comm { margin-top: 3px; }
	.comm li { 
		height:18px; color: #8e9499; font-size: 12px; background: none; padding: 0 0 0 10px; border-left: none; 
		&:first-child { padding: 0; }
		span { height: 18px; line-height: 10px; padding-left: 3px; vertical-align: middle; }
	}
	.tab-content .row .col-md-4 { height: 40px; }
}

#loan {
	.comm li { 
		height:18px; color: #8e9499; font-size: 12px; background: none; padding: 0 0 0 10px; border-left: none; 
		&:first-child { padding: 0; }
		span { height: 18px; line-height: 10px; padding-left: 3px; vertical-align: middle; }
	}
	.tab-content .row .col-md-4 { height: 40px; }
}

body#savings, body#loan {
	.helper-wrap{
		.text-input-normal { text-align: right; padding: 5px 50px 5px 10px; }
		.text-input .unit { right: 20px; }
	}
}
i.bi.bi- { background:none; }

#back-top {
    position: fixed;
    bottom: 45px;
    right: 12%;
    display: none;
	cursor: pointer;
}

/* arrow icon (span tag) */
#back-top span {
    width: 42px;
    height: 42px;
    display: block;
	background-image: url(/resources/images/common/back-to-top.png);
    /* rounded corners */
    @include border-radius( 50%);
    /* background color transition */
    @include transition(0.5s);

	&:hover {
		background-color: #bfbfbf;
	}
}

/* 20160216 add calculator modal pop */ 
.cal_top { width: 800px; overflow: hidden; margin: 0 auto; }
  .cal_top .mypage-left { color: #333; font-family:'notokr-medium'; background-color: #fff; padding: 30px 0 0 0; }
    .cal_top .mypage-left h2 { font-weight: normal; font-size: 18px; line-height: 1; padding: 0 0 0 30px; }
    .cal_top .mypage-left .panel-group { margin: 28px 0 0 0; }
    .cal_top .mypage-left .panel-group .panel-heading { border-color: #e6ecf0; }
    .cal_top caption { display: none; }

.count_out { overflow: hidden; }

#cal-saving.cal-right { 
	.text-input-normal, .dropdown-sy { font-weight: normal; background-color: #d1d9e0; }
}

.cal-right { display: none; float: right; width: 620px; padding: 40px 30px 0 30px; }
.cal-right.select { display: block; }
	.cal-right label { cursor:pointer; }	
  .cal-right .cal_input { padding: 0 0 20px 0; border-bottom: 1px solid #c1ccd5; margin-bottom: 20px; }
  .cal-right .right_btn .btn { width: 108px; height: 38px; font-family:'notokr-medium'; margin-bottom: 0; }
  .cal-right .right_btn .btn.re-cal { width: 110px; padding: 9px 0; }
  .cal-right .select-label { 
  	float: left; width: 89px; height: 40px; line-height: 42px; margin: 0; 
  	.badge { margin-top: 1px; margin-left: 2px; }
  }
  .cal-right .text-input-normal { float: left; width: 164px; font-weight: normal; padding-right: 20px; }
  .cal-right .dropdown-sy { float: left; width: 130px; }
    .cal-right .dropdown-sy div { width: 130px; }
  .cal-right .w-drop .dropdown-sy { width: 164px; }
    .cal-right .w-drop .dropdown-sy div { width: 164px; }
  .cal-right .w-drop .text-input-normal { width: 130px; }
  .cal-right .w-drop .btn_calender { float: left; border-left: none; }
  .cal-right .w-drop .radio_normal { float: left; margin-top: 10px; label { line-height: 1.6; }}
  .cal-right .w2-drop .dropdown-sy { width: 250px; }
    .cal-right .w2-drop .dropdown-sy div { width: 250px; }
  .cal-right .row { margin: 0 0 10px 0; }
  .cal-right .col-xs-6 { width: 280px; padding: 0; }
  .cal-right .col-xs-3, .cal-right .col-xs-5 { padding: 0; }
  .cal-right .col-xs-12 { padding: 0; }
    .cal-right .col-xs-12 .dropdown-sy { margin: 0 10px 0 0; }
  .cal-right .result_cal { font-size: 12px; margin: 40px 0 0 0; }
  .cal-right .result_cal .desc { color: #444; font-weight: normal; line-height: 1; margin: 0 0 10px 0; }
  .cal-right .result_cal .emp { color:#4d9bd6; }
    .cal-right .result_cal table { width: 100%; margin: 10px 0 0 0; }
    	.cal-right .result_cal table td:first-child { border-left:none; }
    	.cal-right .result_cal table tr:first-child td { border-top: none; }
		.cal-right .result_cal table td { font-weight: normal; text-align: center; background-color: #fff; padding: 11px 0; border-top: 1px solid #c1ccd5; border-left: 1px solid #c1ccd5; }
		.cal-right .result_cal table .cal_top_title { background-color: #d1d9e0; }
		.cal-right .result_cal table .cal_corner_title { background-color: #c1ccd5; }
		.cal-right .result_cal table .bor_none { border-right: none; }
		.cal-right .result_cal table th { font-family: 'notokr-medium'; font-size: 12px; color: #444; font-weight: normal; text-align: center; background-color: #d1d9e0; padding: 11px 0; border-left:1px solid #c1ccd5; }
		.cal-right .result_cal table th:first-child { border-left: none; }
		.cal-right .result_cal table .col th { border-top: 1px solid #c1ccd5; }
		.cal-right .result_cal table th.separation { background-color: #c1ccd5; }
		.cal-right .result_cal table tbody tr:first-child th { border-top:none; }
		.cal-right .result_cal table tbody th { border-top:1px solid #c1ccd5; }
		.cal-right .result_cal table .txt_left { text-align: left; padding: 13px 0 0 13px; }
  .cal-right .tab-content .select-label { margin: 0; }

.cal-right .nav-tabs-cal {	
	width:100%; padding:0; border-bottom:none; margin:0 0 15px 0;
	li{ float:left; width:50%; height:50px; text-align:center; 
 		a{ height: 40px; line-height: 1.3; color:#333; font-family: 'notokr-regular'; font-weight: normal; padding:5px 0 15px 0; border-bottom:4px solid #c1ccd5; margin:0; 
			&:hover{ background:none; border-bottom:4px solid $point-color; }
		}
	}
	li.active a{ font-family: 'notokr-medium'; border-bottom:4px solid $point-color; color:$point-color; }
	li.left a{ border-bottom:4px solid #c1ccd5; }
	li.right a{ border-bottom:4px solid #c1ccd5; }
	li.active a:link{ background-color:#e6ecf0; border-bottom:4px solid $point-color; }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
	body { font-family: 'notokr-light', 'notokr-regular', 'notokr-medium' }
	.main #first-time-container .product_add .txt { font-family: 'notokr-light'; }
	.main #first-time-container .product_add .check-bottom label { font-family: 'notokr-light'; }

	.gnb_sub .gnb-list_sub li a { font-family: 'notokr-light'; }
	.gnb_sub .gnb-list_sub li a.active { font-family: 'notokr-regular'; } 

	.service-slogan .slogan h2 { font-family: 'notokr-light'; }

	.life .content_box .get_profit li { font-family: 'notokr-regular'; }
	.life .content_box .get_profit li.odd { font-family: 'notokr-light'; }
	.content_box .left_small_txt { font-family: 'notokr-light'; }
	.content_box_out .part { font-family: 'notokr-regular'; }
	.btn { font-family: 'notokr-light'; }
	.carousel-caption .item_view span:first-child{ font-family: 'notokr-regular'; }

	.mypage-out .mypage-left .panel-body li a { font-family: 'notokr-light'; }
	.mypage-out .mypage-right .input-box table { font-family: 'notokr-light'; }
	.mypage-out .mypage-right .mypage_top_sort li { font-family: 'notokr-light'; }
}

.no-result-msg {
	padding: 190px 0;
	font-size: 30px;
}

.pre-search {
	padding: 65px 0;
	/*height: 430px;*/
	& > p { color: #444b52; font-family: 'notokr-regular'; font-weight: normal; font-size: 30px; /*margin: 135px auto 0 auto;*/ }
	.highlight {
		color: $point-color;
	}
}

.results-wrap.comparison-best {
	padding-top: 40px;
}