@import "compass";
//@import "../common/mopic-glyphicon";
@import "../common/bank-sprites";




.content_box .product_benefit {
  color:#333; 
  .prefix { font-family: 'notokr-light'; font-size:20px; }
  .highlight { font-size:85px; margin:0 14px 0 7px; }
  .unit { color: inherit; font-family: 'Roboto-Regular'; font-size:30px; }
}

.content_box .get_profit li.odd { width:145px; }
#savings .container .helper-wrap { min-height:180px; }