@import "compass";
@import "../common/mopic-glyphicon";


/*create sprite*/
$icons: sprite-map("bi/insure/*.png");

i.bi {
   background-image: $icons;
   display: inline-block;
   vertical-align: middle;
}


@each $i in sprite-names($icons){
	.bi-#{$i}{
        background-position: sprite-position($icons, $i, 0, 0, false);
        background-size: cover;
        @include sprite-dimensions($icons, $i);
   }
}

.gnb_sub .gnb-list_sub { left:50%; margin-left:-115px; }
/*.container .results-wrap { min-height:500px; }*/


.tab-content .car .modal-small {
	margin-top: -380px;
}


.insCar .content_box .description { padding:0 30px 0 0; }