@import "compass";
//@import "../common/glyphicon";


$bankBI: sprite-map("bi/exchange/*.png");

i.bi {
   background-image: $bankBI;
   display: inline-block;
   vertical-align: middle;
}


@each $i in sprite-names($bankBI){
	.bi-#{$i}{
        background-position: sprite-position($bankBI, $i, 0, 0, false);
        background-size: cover;
        @include sprite-dimensions($bankBI, $i);
   }
}





#exchange {
  .container .helper-wrap { height:310px; }
  .notice-info { 
    color:#999fa5; font-size:12px; line-height:1; text-align:right; padding-right: 0; margin-bottom:9px; 
    .devide { display:inline-block; color:#e0e2e4; padding:0 10px; }
  }
  .top_search {
    .row { width:800px; margin:0; margin-bottom:10px; }
    .col-xs-4 { width:253px; padding: 0; }
    .col-xs-12 { padding:0; }
    .select-label { float:left; width:89px; line-height: 1; padding-top:13px; margin:0; }
    .select-label + div { width:253px; }
    .text-input { width:162px !important; }
    .currency-right {
      li { 
        padding:0; 
        .quote { margin-left:10px; }
        a { line-height: 1; }
        &:first-child { margin-left:10px; }
        &.refresh { margin:0 20px; }
      }
    }
  }

  .select-label.coupon + .text-input { 
    .text-input-normal { padding-right:43px; }
  }
  
  .text-input-normal { width:162px; height:38px; font-size:14px; text-align:right; padding:12px 16px 12px 0; }
  .car_list { padding-top:0;
    table {
      caption { display:none; }
      thead { border-top:1px solid #999fa5; }
      thead, tbody { text-align: center; }
      th { 
        color: #fff; font-weight:normal; font-size:16px; line-height:1; text-align: center; background-color: #999fa5;  padding:16px 0; border-left:1px solid #8e9499;
        &:first-child { border-left:none; }
      }
      td { 
        height:49px; color: #666; background-color: #fff; text-align:center; padding: 9px 0; border-right: 1px solid #e0e4e7; border-bottom: 1px solid #e0e4e7;
        img { height:30px; width:auto; }
      }
    }
  }
  .down_result { padding-top:35px; }
} 