$selectbox-width: 300px;

.step {
    display: inline-block;
    vertical-align: top;
	
	width: $selectbox-width;

    border: 1.5px solid #00bcb7;
    
    cursor: pointer;
    /*overflow: hide;*/
    
}



.dropdown-options {
    /* Styles */
    border: 1px solid #39b1b1;
    /*border-radius: inherit;
        border: 1px solid rgba(0,0,0,0.17);*/
    transition: all 0.2s ease-in, visibility 1ms;


    li {
		transition: all 0.3s ease-out, visibility 1ms;

		&.selected {
			&:hover {
				background-color: #fed;
			}
		}
		
		&.deactivated {
			color: #aaa;
			&:hover {
				background-color: #eee;
			}
		}
		
		&:first-of-type {
			border-radius: 7px 7px 0 0;
		}
		
		&:last-of-type {
			border-radius: 0 0 7px 7px;
			border: none;
		}

		&:hover {
			background: #def;
		}
    }


    &::after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		bottom: 100%;
		right: 15px;
		border-width: 0 7px 7px 7px;
		border-style: solid;
		border-color: #fff transparent;    
    }
    &::before {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		bottom: 100%;
		right: 14px;
		border-width: 0 8px 8px 8px;
		border-style: solid;
		border-color: #39b1b1 transparent;    
    }
}



.text-input {
    input {
		width: 70%;
		height: 100%;
		border: 0;

		&:focus {
			outline: none;
		}
    }
}



ul li.icon-select {
    display: inline-block;
}