


#my-page.container{

	width: 950px;

	.left-navi{
		float:left; width: 180px; height: 490px; margin-right: 40px; background-color: #dedede;
	}	

	.prodct-content{
		float:left; width: 730px; height: 100%; background-color: #e6ecf0;
	}
}





.js .inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
.inputfile + label {
    display: inline-block; max-width: 80%; font-size: 14px; font-weight: normal; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; padding: 0; overflow: hidden;
}
.no-js .inputfile + label { display: none; }
.inputfile:focus + label, .inputfile.has-focus + label { outline: 1px dotted #000; outline: -webkit-focus-ring-color auto 5px; }
.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}
.inputfile + label { background-color: white; padding: 0; line-height: 1.3; }
.inputfile:focus + label, .inputfile.has-focus + label, .inputfile + label:hover { border-color: #4d9bd6; }
.inputfile + label span, .inputfile + label strong { font-weight: normal; font-size: 14px; line-height: 2.2; padding: 0; }
.inputfile + label span { 
	display: inline-block; width: 164px; height: 30px; color:#d1d9e0; text-indent: 19px; border:1px solid #e0e4e7; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: top; margin-right:5px;
}
.inputfile + label strong { display: inline-block; width: 80px; height: 30px; color: white; text-align: center; background-color: #55acee; border:1px solid #4d9bd6; }
.inputfile:focus + label strong, .inputfile.has-focus + label strong, .inputfile + label:hover strong { background-color: #4d9bd6; }





