@import "compass";

$icons: sprite-map("bi/p2p/*.png");

i.bi {
   background-image: $icons;
   display: inline-block;

   vertical-align: middle;
}


@each $i in sprite-names($icons){
	.bi-#{$i}{
        background-position: sprite-position($icons, $i, 0, 0, false);
        background-size: cover;
        @include sprite-dimensions($icons, $i);
   }
}


.offset-right-7 {
	width:100%; height: 40px; padding:0; margin-bottom:10px;
}


/*--radio-button--*/

/*-----*/
.radio_normal{
	margin-top:9px;
}
.radio_normal .radio-top1{
	float: left;
	margin-right:0;
}
.radio_normal .radio-top1:nth-child(4){	
	margin-right: 0%;
}
.radio_normal .radio-bottom{
	float: left;	
  &:first-child { margin-right:30px; }
}
/*-----*/
.radio_normal .radio-bottom span{
	display:block;
	margin: 0;
	cursor: pointer;
}
.radio_normal .radio-bottom span input[type="radio"]{
  display: none;
}
.radio_normal .radio-bottom span input[type="radio"]+label{
  position: relative; width:auto;
  padding: 0 0 0 27px;
  cursor: pointer;
  margin:0;
}
.radio_normal .radio-bottom span input[type="radio"]+label i:first-child{
    width: 18px;
  	height: 18px;
  	display: inline-block;
  	border: none;
  	position: absolute;
  	left: 0; top: 0;
  	bottom: 3px;
 	background-color: #eaedee;
    border-radius: 100px;
    -webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
}
.radio_normal .radio-bottom span input[type="radio"]:checked+label i:first-child:before{
  	content: "";
  	position: absolute;
  	left: 4px;
  	top: 4px;
  	width:8px;
  	height:8px;
  	 border-radius: 100px;
  	 -webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
}
.radio_normal .radio-bottom span.last-radio{
	opacity: 0.7;
}

.radio_normal .radio-bottom5 span input[type="radio"]+label i:first-child{
 	background: none;
    box-shadow: none;
    border: 1px solid #6d6d6d;
}

.radio_normal .radio-bottom5 span input[type="radio"]:checked+label {
 	color:#55acee;
}


.radio_normal .radio-bottom5 span input[type="radio"]:checked+label i:first-child{
 	background: none;
    box-shadow: none;
    border: 1px solid #55acee;
}

.radio_normal .radio-bottom5 span input[type="radio"]:disabled+label i:first-child{
 	background: #d1d9e0;
    box-shadow: none;
    border: 1px solid #6d6d6d;
	cursor: not-allowed;

}

.radio_normal .radio-bottom5 span.mid-radio input[type="radio"]+label i:first-child{
    border: 1px solid #55acee;	
	color:#55acee;
}
.radio_normal .radio-bottom5 span input[type="radio"]:checked+label i:first-child:before{
  	background: #55acee;  
	border: 1px solid #55acee;
}


.radio_normal .radio-bottom5 span input[type="radio"]:disabled+label i:first-child:before{ background: #55acee; border: 1px solid #55acee; cursor: not-allowed; }
/*--//radio-button--*/

#p2p {
  .container .helper-wrap #helper { margin-top:-4px; }
  .container .results-wrap { min-height:500px; }
  .content_box { 
    .get_profit li { 
      &.odd { width:124px; }
    }

    .progress-bar {
      span { 
        color:white; font-size:14px; font-family: 'notokr-regular'; margin:0 0 0 10px;
        &:first-child { color:#b5dffe; font-family: 'notokr-light'; font-size:12px; margin:0 0 0 10px; }
      }
    }

    .progress-bar.under {
      span { 
        position:absolute; color:#4d9bd6; font-size:14px; font-family: 'notokr-regular'; margin:0 0 0 14%;
        &:first-child { color:#999fa5; font-family: 'notokr-light'; font-size:12px; margin:0 0 0 10px; }
      }
    }
  }
  .col-md-4 { height:40px; }
}


