@import "compass";
@import "./benefits-icon";

/*create sprite */
$icons: sprite-map("bi/card/*.png"); // relative to 'http_path' + 'images_dir' + '/'

i.bi {
   background-image: $icons;
   display: inline-block;
   vertical-align: middle;
}


@each $i in sprite-names($icons){
   .bi-#{$i}{
        background-position: sprite-position($icons, $i, 0, 0, false);
        background-size: cover;
        @include sprite-dimensions($icons, $i);
   }
}


$point-color:#55acee;
$point-color-line:#4d9bd6;
$main-gray-color:#444b52;
$main-gray-color-line:#33383d;
$gray-color:#f7fafc;
$wrap-width:1600px;


.multi-select-dropdown {
	border:1px solid #e0e4e7;
	height:40px;	
	width:711px;
	position:relative;

	.select-top{
		display:block; width:711px; height:40px; color:#bbb; font-family:'notokr-regular'; line-height:22px; padding:10px 20px;
	}

	.top-sort-list{
		position:absolute; top:6px; left:9px; height:26px;
		padding:0; margin:0; overflow:hidden; 
		li{
			position:relative; float:left; overflow:hidden; margin:0 5px 0 0;
			a {
				display:inline-block; min-width:50px; height:26px;
				color:#fff; font-size:12px; line-height:29px;
				background-color:$point-color;
				padding:0 20px 0 10px; border-radius:30px;
				overflow:hidden;
				&:hover{
					background-color:#4d9bd6;
				}
			}
			.delete-btn {
				position: absolute; top:8px; right:9px; width:10px; height:10px; text-indent:-999em;
				background: url("../images/common/ico_card_close.png") center right no-repeat;
			}
			
		}
		

	}
	
	

	&:hover{
		border:1px solid #d1d9e0;
		background-color:#f7fafc;
	}

	.carat{
		position:absolute;
		top:10px;
		right:10px;
		width:20px;
		height:20px;
		background-image: url("../images/common/ico_total.png");
		background-position: -100px -110px;
		background-repeat: no-repeat;
	}

	&.open .card-dropdown-options {
		visibility: visible;
	}
	
	.card-dropdown-options{
		visibility: hidden;
		position:absolute; top:38px; left:-1px; z-index:100;
		width:711px; background-color:#fdfefe; border:1px solid $point-color; overflow:hidden;
		.all-select { 
			height:40px;  padding:10px 0 10px 10px; border-bottom:1px solid #55acee;
			input[type="checkbox"] { width:25px; height:20px; margin:2px; }
		}
		.top-sort{
			width:100%;
			height:34px;
			border-bottom:1px solid $point-color;
			padding:0;
			margin:0;
			a{	
				display:block;
				width:100%;
				height:100%;
				padding:0;
				margin:0;
				color:#333;

			}
		}

		.benefit {
			width:inherit; padding:0; overflow:hidden; margin:0;
			li {
				float:left; width:12.5%; height:88px; line-height:1; border:1px solid #eceded; border-top:none; border-left:none; overflow:hidden; margin:0; 
				a{
					display:inline-block; width:100%; height:inherit; text-align:center; color:#444b52; font-size:12px; border:none;
					padding:20px 0; margin:0;
					span{ display:block; color:#444b52; font-family:'notokr-light'; line-height:1; margin:10px 0 0 0; }
				}
				.last{
					border-right:1px solid #fff;
				}
				&.selected {
					border:1px solid #4d9bd6;
					a {
						color:#fff; background-color:#55acee;
						&:hover { border:none; }
						i, span { color:white; line-height:inherit; }
					}
				}
				&:hover { 
					border:1px solid #4d9bd6; 
					a {
						color:#fff; line-height:1; background-color:#55acee;
						i, span { color:white; font-weight:normal; line-height:1;}
					}
				}
			}
		}
	}

}


.tab-content .right_btn { margin-top:-4px; }
#card .container .helper-wrap { min-height: 180px; }
#card .container .results-wrap { min-height: 400px; } 